<nav data-xhr='nav'>
{%block nav%}
 <a href="{{url.base}}" title="Ermile Homepage" {%if module =='home'%}class="active"{%endif%}>{%trans "Home"%}</a>
 <a href="{{url.base}}/about" title='{%trans "About Ermile"%}' {%if module =='about'%}class="active"{%endif%}>{%trans "About"%}</a>
 <a href="{{url.base}}/mission" title='{%trans "Ermile Missions"%}' {%if module =='mission'%}class="active"{%endif%}>{%trans "Mission"%}</a>
 <a href="{{url.base}}/vision" title='{%trans "Ermile Visions"%}' {%if module =='vision'%}class="active"{%endif%}>{%trans "Vision"%}</a>
{%endblock%}
</nav>


<div data-xhr='article' class="container main">
{%block article%}{%endblock%}
</div>


<div id="langList" data-xhr="langList" class="hint--left float-right" data-hint='Work with Ermile in your own language'>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
<a href="{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}{{key|slice(0, 2)}}/{%endif%}{{url.path}}" hreflang="{{key|slice(0, 2)}}" data-direct>{{lang}}</a>
{%endfor%}
</div>