{%extends display.mvc%}
{%block body%}

<nav>
  <a href="/about" title="">{%trans "About"%}</a>
  <a href="/mission" title="">{%trans "Mission"%}</a>
  <a href="/vision" title="">{%trans "Vision"%}</a>
</nav>

<header>
  <img id="logo" src="{{url.static}}images/ermile.png" alt="">
  <h1>{{site.title}}</h1>
  <h2>{{site.desc}}</h2>
</header>

<footer>
  <div class="container">
    <span>&copy; {{'now'|date('Y')}}</span> <a href="{{url.root}}" title="{{site.desc}}" tabindex="-1">{{site.title}}</a>
  </div>
</footer>

{%endblock%}