<nav data-xhr='nav'>
{%block nav%}
 <a href="{{url.base}}" title="Ermile Homepage" {%if module =='home'%}class="active"{%endif%}>{%trans "Home"%}</a>
 <a href="{{url.base}}/about" title='{%trans "About Ermile"%}' {%if module =='about'%}class="active"{%endif%}>{%trans "About"%}</a>
 <a href="{{url.base}}/mission" title='{%trans "Ermile Missions"%}' {%if module =='mission'%}class="active"{%endif%}>{%trans "Mission"%}</a>
 <a href="{{url.base}}/vision" title='{%trans "Ermile Visions"%}' {%if module =='vision'%}class="active"{%endif%}>{%trans "Vision"%}</a>
{%endblock%}
</nav>


<div data-xhr='article' class="container main">
{%block article%}{%endblock%}
</div>


{{langList({'html':true, 'class':"float-right"})}}