<nav data-xhr='nav'>
{%block nav%}
{%if module !='home'%} <a href="/" title="Ermile Homepage">{%trans "Home"%}</a>{%endif%}
{%if module !='about'%} <a href="/about" title='{%trans "About Ermile"%}'>{%trans "About"%}</a>{%endif%}
{%if module !='mission'%} <a href="/mission" title='{%trans "Ermile Missions"%}'>{%trans "Mission"%}</a>{%endif%}
{%if module !='vision'%} <a href="/vision" title='{%trans "Ermile Visions"%}'>{%trans "Vision"%}</a>{%endif%}
{%endblock%}
</nav>


<article data-xhr='article'>
{%block article%}{%endblock%}
</article>