{%extends display.main%}

{%block content%}

<section class="ForgetAllThings">
  <div class="cn">
    <h2 data-aos="fade-up" data-aos-delay="50">{%trans "Be easy and relax, we are do all works needed."%}</h2>
    <p data-aos="fade-up" data-aos-delay="100">{{site.desc}}</p>
  </div>
</section>

{{block('heroBox')}}

{{block('jibres')}}
{{block('sarshomar')}}
{{block('azvir')}}

{{block('services')}}

{{block('awesomeBox')}}
{{block('ermileMembers')}}
{{block('enterprise')}}


{%endblock%}






{%block heroBox%}
<section class='heroBox'>
  <div class="cn">
    <h2 title='{%trans "This is name of our company in Iran"%}' data-aos="zoom-out-down">{{site.company}}</h2>
    <h3 data-aos="zoom-out-up">{%trans "Knowledge Based Company"%}</h3>
    <p class="mB20-f" data-aos="fade-up">{%trans "Ermile&reg; is our brand and we are start form the hot summer of 2015."%} {%trans "From the first day of starting this company we are stay ahead of the tech curve and create cutting edge technology."%}</p>
    <p data-aos="fade-up">{%trans "In spring of 2019 after finish analyse and evaluation process of our services, Iran Vice-Presidency for science and technology is confirmed that our works is knowledge based."%}</p>
  </div>
</section>
{%endblock%}



{%block jibres%}
 <div class="tile brandTile bg-gray" id='jibres'>
  <div class="cn f fix align-center">

   <div class='c6 s12'>
    <a href="{%if lang.current == 'fa'%}https://jibres.ir{%else%}https://jibres.com{%endif%}" target="_blank" data-aos="fade-right" data-aos-delay="300">
     <img src='https://jibres.com/static/logo/icon/svg/Jibres-Logo-icon.svg' alt='{%trans "jibres"%}'>
    </a>
   </div>
   <div class="c6 s12" data-aos="fade-left">
    <h2><a href="{%if lang.current == 'fa'%}https://jibres.ir{%else%}https://jibres.com{%endif%}" target="_blank">{%trans "Jibres"%}</a></h2>
    <h3>{%trans "Integrated Sales Platform"%}</h3>
    <h4>{%trans "Jibres is not just an online accounting software;"%} {%trans "We try to create the best financial platform that has everything you need to sale and manage your financial life."%}</h4>
   </div>

  </div>
 </div>
{%endblock%}



{%block sarshomar%}
 <div class="tile brandTile" id='sarshomar'>
  <div class="cn f fix align-center">

   <div class='c6 s12'>
    <a href="https://sarshomar.com/{{lang.current}}" target="_blank" data-aos="fade-right" data-aos-delay="300">
     <img src='https://sarshomar.com/static/images/logo/svg/sarshomar-logo.svg' alt='{%trans "Sarshomar"%}'>
    </a>
   </div>
   <div class="c6 s12" data-aos="fade-left">
    <h2><a href="https://sarshomar.com/{{lang.current}}" target="_blank">{%trans "Sarshomar"%}</a></h2>
    <h3>{%trans "Ask Anyone Anywhere"%}</h3>
    <h4>{%trans "Focus on your question. Do not be too concerned about how to ask or analyze. Equipped with an integrated platform, Sarshomar has made it possible for you to ask your questions via any means."%}</h4>
   </div>

  </div>
 </div>
{%endblock%}



{%block azvir%}
 <div class="tile brandTile bg-gray" id='azvir'>
  <div class="cn f fix align-center">

   <div class='c6 s12'>
    <a href="https://azvir.com/{{lang.current}}" target="_blank" data-aos="fade-right" data-aos-delay="300">
     <img src='https://azvir.com/static/images/logo/azvir.svg' alt='{%trans "Azvir"%}'>
    </a>
   </div>
   <div class="c6 s12" data-aos="fade-left">
    <h2><a href="https://azvir.com/{{lang.current}}" target="_blank">{%trans "Azvir"%}</a></h2>
    <h3>{%trans "Pioneer Academy Selection"%}</h3>
    <h4>{%trans "Azvir provides complete and beautiful solutions for your school; Do all things easily and enjoy."%}</h4>
   </div>

  </div>
 </div>
{%endblock%}



{%block tejarak%}
 <div class="tile brandTile" id='tejarak'>
  <div class="cn f fix align-center">

   <div class='c6 s12'>
    <a href="https://tejarak.com/{{lang.current}}" target="_blank">
     <img src='https://tejarak.com/static/images/logo/svg/tejarak-logo.svg' alt='{%trans "Tejarak"%}'>
    </a>
   </div>
   <div class="c6 s12">
    <h2><a href="https://tejarak.com/{{lang.current}}" target="_blank">{%trans "Tejarak"%}</a></h2>
    <h3>{%trans "Do attendance easily and enjoy real time reports"%}</h3>
    <h4>{%trans "Setup your dedicated and beautiful attendance system in less than a minute and have a real time and scrupulously monitoring on your business from anywhere."%}</h4>
   </div>

  </div>
 </div>
{%endblock%}



{%block services%}
<div class="tile bg-gray3" id='ermileServices'>
  <div class="cn">
    <div class="f">
     <div class="c4 s12 pA10 mB20" data-aos="zoom-in-up" data-aos-delay="100">
      <a href="https://iranpresidents.com/{{lang.current}}" target="_blank">
       <img src='https://iranpresidents.com/static/images/logo/png/iranpresidents-logo.png' alt='{%trans "IranPresidents"%}'>
      </a>
      <h2><a href="https://iranpresidents.com/{{lang.current}}" target="_blank">{%trans "Iran Presidents"%}</a></h2>
      <h3>{%trans "Live and complete result of iran elections after revolution until now."%}</h3>
     </div>

     <div class="c4 s12 pA10 mB20" data-aos="zoom-in-up" data-aos-delay="500" id="tejarak">
      <a href="https://tejarak.com/{{lang.current}}" target="_blank">
       <img src='https://tejarak.com/static/images/logo/svg/tejarak-logo.svg' alt='{%trans "Tejarak"%}'>
      </a>
      <h2><a href="https://tejarak.com/{{lang.current}}" target="_blank">{%trans "Tejarak"%}</a></h2>
      <h3>{%trans "Do attendance easily and enjoy real time reports"%}</h3>
     </div>

     <div class="c4 s12 pA10 mB20" data-aos="zoom-in-up" data-aos-delay="900">
      <a href="https://deadbrowser.com/{{lang.current}}" target="_blank">
       <img src='https://ermile.com/static/images/logo/svg/ermile.svg' alt='{%trans "Ermile"%}'>
      </a>
      <h2><a href="https://deadbrowser.com/{{lang.current}}" target="_blank">{%trans "Dead Browser"%}</a></h2>
      <h3>{%trans "Check health status of your browser and say it's live or dead!"%}</h3>
     </div>


    </div>
  </div>
</div>
{%endblock%}



{%block awesomeBox%}
<section class='awesomeBox' title='{%trans "Just select awesome"%}' data-tippy-placement="bottom" data-tippy-animation="scale" data-tippy-inertia="true" data-tippy-duration="[600, 300]" data-tippy-arrow="true" data-tippy-size="large" data-tippy-followcursor="true">
  <img src='{{url.static}}/images/homepage/ermile_table.jpg' alt='{{site.title}}'>
</section>
{%endblock%}



{%block enterprise%}
 <div class="tile offer-enterprise">
  <div class="cn" data-aos="fade-in">
   <h2>{%trans "Enterprise scale"%}</h2>
   <h3>{%trans "Our enterprise solution brings the power and utility of Ermile to large, complex organizations."%}</h3>
   <a href="{{url.kingdom}}/contact" class="btn light outline xl">{%trans "Get in Touch"%}</a>
  </div>
 </div>
{%endblock%}




{%block ermileMembers%}
 <div class="tile" id='ermileTeam'>
  <div class="cn" data-aos="zoom-in" data-aos-delay="300">
   <h2 class="mB20-f"><a href="https://tejarak.com/ermile" target="_blank">{%trans "Ermile Team"%} <span class="sf-bolt"></span></a></h2>
   <div class="browserBox"><span></span>
    <iframe src="https://tejarak.com/{{lang.current}}/ermile?ex=1" frameborder="0" style="border:0"></iframe>
   </div>
  </div>
 </div>
{%endblock%}

