{%extends display.mvc%}

{%block header%}
<header>
 <img id="logo" src="{{url.static}}images/ermile.png" alt="">
 <h1>{{site.title}}</h1>
 <h2>{{site.desc}}</h2>
</header>
{%endblock%}


{%block content%}
<nav data-xhr='nav'>
{%block nav%}
 <a href="{{url.base}}" title="Ermile Homepage" {%if module =='home'%}class="active"{%endif%}>{%trans "Home"%}</a>
 <a href="{{url.base}}about" title='{%trans "About Ermile"%}' {%if module =='about'%}class="active"{%endif%}>{%trans "About"%}</a>
 <a href="{{url.base}}mission" title='{%trans "Ermile Missions"%}' {%if module =='mission'%}class="active"{%endif%}>{%trans "Mission"%}</a>
 <a href="{{url.base}}vision" title='{%trans "Ermile Visions"%}' {%if module =='vision'%}class="active"{%endif%}>{%trans "Vision"%}</a>
{%endblock%}
</nav>

<div data-xhr='article' class="container main">
{%block article%}{%endblock%}
</div>
{%endblock%}


{%block footer%}
<footer>
  <div class="container">
    <div class="hint--right" data-hint='{{site.desc}}'>
      <span>&copy; {{'now'|date('Y')}}</span> <a href="{{url.root}}" class="roll-link"><span data-title="{{site.title}}">{{site.title}}</span></a>
    </div>
    <div id="langList" data-xhr="langList" class="hint--left float-right" data-hint='{%trans "Work with Ermile in your own language"%}'>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
     <a href="{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}{{key|slice(0, 2)}}/{%endif%}{{url.path}}" hreflang="{{key|slice(0, 2)}}" data-action>{{lang}}</a>
{%endfor%}
    </div>
  </div>
</footer>
{%endblock%}
