{%extends display.cp%}

{%block header%}
   <div class="panel panel-default">
     <div class="panel-body">
      <form class="ajx form row inline autostyle" method="post">{{forms.make(form[module])}}</form>
     </div>
     <div class="panel-footer">
      <a class="float-right label label-info" href="{{store}}/{{module}}">{%trans%}Back to{%endtrans%} {%trans module%}</a>
       {%trans module%}
     </div>
   </div>
{%endblock%}

{%block content%}
 <div class="row auto">
  <div class="span9">
   <input id="post-title" class="input" placeholder='{%trans "Enter title here"%}'></input>
   <div id="post-content" class="textarea editor" data-placeholder='{%trans "Write your post content here"%}'></div>


   <div class="panel panel-default">
    <div class="panel-heading">{%trans "Excerpt"%}</div>
    <div class="panel-body">
     <textarea id="post-excerpt" maxlength='160' placeholder='{%trans "If excerpt is empty we get it automatically from content"%}'></textarea>
    </div>
    <div class="panel-footer">{%trans "Summaries of your content that can be used as page description."%}</div>
   </div>

   <div class="row">

    <div class="span4">
     <div class="panel text-center no-boder bg-color-green">
      <div class="panel-body">
       <i class="fa fa-bar-chart-o fa-5x"></i>
       <h3>8,457</h3>
      </div>
      <div class="panel-footer back-footer-green">
       Daily Visits

      </div>
    </div>
   </div>

    <div class="span4">
        <div class="panel text-center no-boder bg-color-brown">
            <div class="panel-body">
                <i class="fa fa-users fa-5x"></i>
                <h3>36,752 </h3>
            </div>
            <div class="panel-footer back-footer-brown">
                No. of Visits

            </div>
        </div>
    </div>
    <div class="span4">
        <div class="panel text-center no-boder bg-color-red">
            <div class="panel-body">
                <i class="fa fa fa-comments fa-5x"></i>
                <h3>15,823 </h3>
            </div>
            <div class="panel-footer back-footer-red">
                Comments

            </div>
        </div>
    </div>


  </div>
 </div>


  <div class="span3">

   <div class="panel panel-default">
    <div class="panel-heading">{%trans "Publish"%}</div>
    <div class="panel-body">
     <input id="post-slug" class="input" placeholder='{%trans "Enter slug here"%}'></input>

      <a class="button " href="#">{%trans "Save as draft"%}</a>
      <a class="button" href="#">{%trans "Preview"%}</a>
      <a class="button positive" href="#">{%trans "Publish"%}</a>



    </div>
   </div>

   <div class="panel panel-default">
    <div class="panel-heading">{%trans "Categories"%}</div>
       <div class="panel-body">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
       </div>
       <div class="panel-footer">
           Panel Footer
       </div>
   </div>

   <div class="panel panel-default">
    <div class="panel-heading">{%trans "Tags"%}</div>
       <div class="panel-body">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
       </div>
       <div class="panel-footer">
           Panel Footer
       </div>
   </div>

  </div>
 </div>


Module
{%endblock%}