{%extends display%}
{%block header_def%}
  <header>
    <div id="header" class="unselectable animated">
      <div id="site-title">
        <h1 id="logo"><a class="navbar-brand" href="{{url.root}}">{{global.site_title}}</a></h1>
        <nav>
          <div id="header-nav">
            <a href="{{url.root}}">Home Page</a>
            <a href="http://admin.{{url.raw}}/none">Admin</a>
            <a href="http://cp.{{url.raw}}">Control Panel</a>
{%if global.login%}
            <a href="{{url.root}}store/create">Create store</a>
            <a href="http://account.{{url.raw}}/logout">Logout</a>
{%else%}
            <a href="http://account.{{url.raw}}/login">Login</a>
{%endif%}
          </div>
        </nav>
      </div>
    </div>
    <div id="header-back"></div>
  </header>
{%endblock%}

{%block footer_def%}
  <footer>
   <div id="footer">
    <div class="light1 row-padding-medium">
     <div class="container">
      <div class="row">
       <div class="span12">
        <p>Goto <a href="{{url.root}}" title="{{global.site_desc}}" class="roller cursor-help"><span data-title="{{global.site_title}} Homepage">{{global.site_title}} Homepage</span></a>.</p>
        <p>[<a href="?lang=en_US">en_US</a>] [<a href="?lang=sr_CS">sr_CS</a>] [<a href="?lang=de_CH">de_CH</a>] [<a href="?lang=fa_IR">fa_IR</a>] </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </footer>
{%endblock%}