body{background-color:#eee;}
body::after{content:"";background:url(https://ermile.com/static/images/logo.png);background-size:cover;height:20em;width:20em;position:absolute;bottom:3em;right:3em;opacity:0.3}
td {padding:3px 1em;}
a{text-decoration:none;border-bottom:1px solid #044f9e;color:#044f9e;}


