{%extends display%}
{%block head_css%}
  <link rel="stylesheet"    href="{{url.static}}css/style-account.css?ver=1.1.0">
{%endblock%}


{%block body_init%}<body id="{{module}}" class="unselectable">{%endblock%}


{%block body_def%}

  <div class="center">
    <header>
      <a target="_blank" href="{{url.root}}" title="{{global.site_slogan}}" tabindex="-1"><img id='logo' alt="{{global.site_title}}-logo" src='{{url.static}}images/logo.svg'></a>
      <h1>{{global.page_desc}}</h1>
    </header>

<form class="ajx" method="post" id="{{module}}">
{{forms.make(form[myform])}}
</form>

{%block content%}{%endblock%}
  </div>

  <footer>
   <div id="footer">
     <div id="copyright">
      {%block footer%}
        <div class="left">&copy; {{'now'|date('Y')}} 
          <a href="{{url.root}}" title="{{global.site_desc}}" tabindex="-1">{{global.site_title}}</a>
        </div>
      {%endblock%}
       
     </div>
   </div>
  </footer>
{%endblock%}


{% import "includes/cls/macro/forms.html" as forms %}