{%extends display%}
{% import "includes/cls/macro/forms.html" as forms %}
{%block head_def%}
  <meta charset="UTF-8" />
  <base href="{{url.current}}" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <title>{{global.page_title}}{%if global.site_title_show and global.page_title%} | {%endif%}{%if global.site_title_show%}{{global.site_title}}{%endif%}</title>
  <meta name="description"        content="{{global.page_desc}}"/>

  <!-- [if lte IE 8]><script>document.location = 'http://www.whatbrowser.org/intl/fa/';</script><![endif] -->
  <link rel="author"        href="{{url.static}}humans.txt"  />
  <link rel="shortcut icon" href="{{url.static}}images/favicon.png" />

  <link rel="stylesheet"    href="{{url.static}}css/style-account.css?ver=1.1.0">{{include.newline}}
{%endblock%}

{%block body_init%}<body id="account" class="unselectable">{%endblock%}

{%block body_def%}
  <div class="center">
    <header>
      <a target="_blank" href="{{url.root}}" title="{{global.site_desc}}"><img id='logo' alt="{{global.site_title}}-logo" src='{{url.static}}images/logo.svg'></a>
      <h1>{{global.page_title |capitalize}}</h1>
    </header>

    <form class="ajx" method="post" id="{{global.page_title | lower}}">
      {{forms.make(form[module])}}
    </form>

    {%block content%}
    <footer>
      <div id="desc">
        <p><a href="/recovery" title="click here to recovery your password">Can't access your account?</a></p>
        <p>Don't have an account? <a href="/signup" title="click here to create an account">Sign Up</a></p>
      </div>
    </footer>
    {%endblock%}
  </div>

  <footer>
   <div id="footer">
     <div id="copyright">
      {%block footer%}
        <div class="left">&copy; {{'now'|date('Y')}} 
          <a href="{{url.root}}" title="{{global.site_desc}}" >{{global.site_title}}</a>
        </div>
      {%endblock%}
       
     </div>
   </div>
  </footer>
{%endblock%}
