{%extends display.mvc%}


{%block head_css%}
 <link rel="stylesheet"       href="{{url.site}}/static/css/ermile-7.6.8.css">
 <link rel="stylesheet"       href="{{url.site}}/static/careers/careers.css">
{%endblock%}

{%block foot_js%}
 <script src="{{url.site}}/static/careers/js/script.js"></script>
 <script type="text/javascript">
   $('#opportunity .titles li').click(function(){
    $('#resume-type').val($(this).attr('data-tab'))
   });
 </script>
{%endblock%}



{%set pageTitle%}
{%trans "Ermile Jobs"%}
{%endset%}

{%set pageDesc%}
{%trans "Be a member of Ermile"%}. {%trans "Ermile team which is made by young proficient people, pleasant environment, dynamic and energetic sincere motivate for those who are interested at co-operate."%}
{%endset%}


{%block content%}

  {%if file_list%}
    {{block('list')}}
  {%else%}
    {{block('careers')}}
  {%endif%}
{%endblock%}

{%block list%}
<ul class="careers-get-list">
 {%for key, value in file_list%}
 <li>
   <div class="item-user">
    <a href="{{value.url}}"><i class="fa fa-file-pdf-o"></i></a> <span>{{value.name}}</span>
   </div>
   <div>{{value.number}}</div>
   <div>{{value.date|jdate()}}</div>
   <div>{{value.type}}</div>
 </li>
 {%endfor%}
</ul>
{%endblock%}

{%block careers%}
 <header>
  <div class="container"><h1>{%trans "Be a member of <strong>Ermile</strong>"%}</h1></div>
 </header>


 <div class="about-ermile">
   <div class="container">
    <div class="row auto benefits">
     <div class="span4">
      <h2>{%trans "<strong>Ermile</strong> Benefits"%}</h2>
      <p>{%trans "Choosing the best place as a job is most important for professional people."%}
      {%trans "Ermile team which is made by young proficient people, pleasant environment, dynamic and energetic sincere motivate for those who are interested at co-operate."%}</p>
     </div>
      <div class="span8">
       <ul>
        <li>
         <div class="normal">
          <img src="{{url.site}}/static/careers/images/svg/teamwork.svg" alt="teamwork.svg">
          <div class='info'>
           <h3>{%trans "Teamwork"%}</h3>
           <p>{%trans "Working as a team helps in quickly improvement of work and also easily figuring out a problem."%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.site}}/static/careers/images/svg/clock.svg" alt="clock.svg">
          <div class='info'>
           <h3>{%trans "Free working hours"%}</h3>
           <p>{%trans "There is no any restriction about working hours. You can work every day for the whole week including Fridays and holidays from morning till night."%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.site}}/static/careers/images/svg/basketball.svg" alt="basketball.svg">
          <div class='info'>
           <h3>{%trans "Exciting work environment"%}</h3>
           <p>{%trans "You can work with talented and friendly group of people in a cheerful and dynamic environment of Ermile"%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.site}}/static/careers/images/svg/productivity.svg" alt="productivity.svg">
          <div class='info'>
           <h3>{%trans "Specialist Team"%}</h3>
           <p>{%trans "Our experience that made of working with Specialist people cause perfect feeling in our team."%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.site}}/static/careers/images/svg/goal.svg" alt="goal.svg">
          <div class='info'>
           <h3>{%trans "Lofty goals"%}</h3>
           <p>{%trans "Having high and lofty goals are the main reasons for rapid progress of any company."%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.site}}/static/careers/images/svg/flower-pot.svg" alt="flower-pot.svg">
          <div class='info'>
           <h3>{%trans "A pleasant green environment"%}</h3>
           <p><!-- {%trans "Your working environment will have a great impact and effect on your mind."%}  -->{%trans "Green, beautiful and peaceful environment of Ermile makes you feel energetic, encouraged and at peace while you're at work."%}</p>
          </div>
         </div>
        </li>
       </ul>
     </div>
   </div>
  </div>
 </div>


 <div class="contract-process">
  <h2>{%trans "Steps to join Ermile"%}</h2>
  <div class="container">
   <div class="row auto contract-process-boxes first-line">
    <div class="img-contain resume">
     <img src="{{url.site}}/static/careers/images/send-cv.jpg" alt="send-cv.jpg">
     <div class="text-top-right">
      <h3>{%trans "Send CV"%}</h3>
     </div>
    </div>

    <div class="line-Horizontal Top-line-Horizontal"></div>

    <div class="img-contain first-interview">
     <img src="{{url.site}}/static/careers/images/job-interview.png" alt="job-interview.png">
     <div class="text-top-left">
      <h3>{%trans "Initial Interview"%}</h3>
     </div>
    </div>
   </div>

   <div class="row auto contract-process-boxes second-line">
    <div class="line-Horizontal"></div>
   </div>

   <div class="row auto contract-process-boxes third-line">
    <div class="img-contain resume check-resume">
     <img src="{{url.site}}/static/careers/images/final-interview.jpg" alt="final-interview.jpg">
     <div class="text-bottom-right">
      <h3>{%trans "Specialized Interview"%}</h3>
     </div>
    </div>

    <div class="line-Horizontal"></div>

    <div class="img-contain final-contract">
     <img src="{{url.site}}/static/careers/images/final.png" alt="final.png">
     <div class="text-bottom-left">
      <h3>{%trans "Final agreement"%}</h3>
     </div>
    </div>

   </div>

  </div>
 </div>




 <div class="row general-property">
  <div class="container">

  <div class="row auto important_taps">
   <div class="span3">
    <h2 class="my_title"><img src="{{url.site}}/static/careers/images/svg/success.svg" alt="success.svg"></h2>
   </div>
   <div class="span9">
    <div class="row">
      <div class="general_texts_taps">
       <p>{%trans "Motive is the major factor for any person to be successful in work and that demands enthusiastic, keen and eager people that can help us reach our goal"%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Lofty projects need great thoughts and these great thoughts help us to reach valuable And huge goals."%} {%trans "And that demands enthusiastic, keen and eager people that can help us reach our goal"%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "We all are always trying to make Ermile’s working environment as a pleasant, energetic and successful place for our team."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Working as a teamwork in Ermile helps us to acquire more power to reach our great aims."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Having creative and self-starter colleagues helps us to step quickly towards our goals."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Be a coworker who is ingenious cause us to do our project fast."%}</p>
      </div>
    </div>
   </div>
  </div>


   <div class="row auto not_important_taps">
    <div class="span3">
     <h2 class="my_title"><img src="{{url.site}}/static/careers/images/svg/error.svg" alt="error.svg"></h2>
    </div>
    <div class="span9">
      <div class="general_texts_taps">
       <p>{%trans "Age does not matter for us. Having the above qualities are enough to be a member of Email."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Academic certificates are not important for us. Having a good and well knowledge about the related subject is enough for us."%}</p>
      </div>
    </div>
   </div>
  </div>
 </div>

 <div class="our-opportunity" id="opportunity">
  <div class="container">
   <div class="row auto">
   <div class="span4 titles">
     <ul class="tabs row auto" data-group="opportunity">
      <li data-tab="general" class="active"><h3>{%trans "Job opportunity in Ermile"%}</h3></li>
      <li data-tab="php" class=""><h3>{%trans "PHP developer"%}</h3></li>
      <li data-tab="js" class=""><h3>{%trans "JavaScript developer"%}</h3></li>
      <li data-tab="graphic" class=""><h3>{%trans "Graphic Designer"%}</h3></li>
     </ul>
    </div>
    <div class="span8 opportunity-desc">
     <ul id='tab_data'>
      <li data-tab="general" class="selected" id="generalBackImg"> </li>
      <li data-tab="php">
       <p>{%trans "Expert in PHP and ability to analyze the codes"%}</p>
       <p>{%trans "Familiar with some PHP frameworks"%}</p>
       <p>{%trans "Familiar with OOP and MVC"%}</p>
       <p>{%trans "Familiar with database"%}</p>
       <p>{%trans "Familiar with Git"%}</p>
       <p>{%trans "Creative and systematic"%}</p>
       <p>{%trans "Fall in love with Documentation"%}</p>
       <button class="go_btn" data-modal="resume-send" data-data='php'>{%trans "Send cv"%}</button>
      </li>
      <li data-tab="js">
       <p>{%trans "Expert in Html, Css, JavaScript and ability to analyze codes"%}</p>
       <p>{%trans "Familiar with JavaScript frameworks"%}</p>
       <p>{%trans "Familiar with UX"%}</p>
       <p>{%trans "Familiar with database"%}</p>
       <p>{%trans "Familiar with Git"%}</p>
       <p>{%trans "Creative and systematic"%}</p>
       <p>{%trans "Fall in love with Documentation"%}</p>
       <button class="go_btn" data-modal="resume-send" data-data='js'>{%trans "Send cv"%}</button>
      </li>
      <li data-tab="graphic">
       <p>{%trans "Ability of designing professionally(Logo and illustration)"%}</p>
       <p>{%trans "Familiar with Adobe Photoshop"%}</p>
       <p>{%trans "Familiar with Adobe Illustrator"%}</p>
       <p>{%trans "Familiar with essential traditional Iranian and Islamic art"%}</p>
       <p>{%trans "Familiar with graphic basics"%}</p>
       <p>{%trans "Familiar with web and user interface"%}</p>
       <p>{%trans "Familiar with color"%}</p>
       <p>{%trans "Creative and systematic"%}</p>
       <button class="go_btn" data-modal="resume-send" data-data='graphic'>{%trans "Send cv"%}</button>
      </li>
     </ul>
    </div>

   </div>
  </div>
 </div>


 <div class="resume-taps">
  <div class="container">
  <div class="row auto">
   <div class="span4">
    <h2>{%trans "Be sure your CV must contain...!"%}</h2>
    <img src="{{url.site}}/static/careers/images/svg/resume.svg" alt="resume.svg">
   </div>
   <div class="span8">
    <ul>
     <li><p> {%trans "Kindly mention your contact number properly so we can contact you easily."%}</p></li>
     <li><p> {%trans "Don’t forget your social network links especially LinkedIn."%}</p></li>
     <li><p> {%trans "It’s better if your CV is in one page and be sure it should not be more than 3 pages."%}</p></li>
     <li><p> {%trans "Writing about your experience and your skills in your CV helps us to check your CV properly and hastily."%}</p></li>
     <li><p> {%trans "If you have any work experience, kindly provide complete information about it in your CV."%}</p></li>
     <li><p> {%trans "Be sure to mention your personal information, picture and Interests."%}</p></li>
     <li><p> {%trans "Please note down your CV with a suitable font and it should be in pdf file."%}</p></li>
    </ul>
   </div>
  </div>
  </div>
 </div>


 <footer class="row">
  <div class="container">
   <div class="row">
    <div class="span7 contact-details">
     <div class="row">
       <div class="span9 offset2 social-links">
        <a href="https://www.facebook.com/ermile.company" target="_blank"><img src="{{url.site}}/static/careers/images/svg/facebook.svg" alt="facebook.svg"></a>
        <a href="https://twitter.com/ermile_com" target="_blank"><img src="{{url.site}}/static/careers/images/svg/twitter.svg" alt="twitter.svg"></a>
        <a href="https://www.instagram.com/ermile_com" target="_blank"><img src="{{url.site}}/static/careers/images/svg/instagram.svg" alt="instagram.svg"></a>
        <a class="hide" href=""><img src="{{url.site}}/static/careers/images/svg/linkedin.svg" alt="linkedin.svg"></a>
        <a href="https://plus.google.com/105803126785718623954" target="_blank"><img src="{{url.site}}/static/careers/images/svg/google-plus.svg" alt="google-plus"></a>
        <a href="https://telegram.me/ermile" target="_blank"><img src="{{url.site}}/static/careers/images/svg/telegram.svg" alt="telegram.svg"></a>
        <p>
        {%if lang.current =='en'%}
          {%trans "Ermile, Floor2, Yas Building"%},
          {%trans "1st alley, Haft-e-tir St"%},
          {%trans "Qom"%},
          {%trans "Iran"%}
        {%else%}
          {%trans "Iran"%}،
          {%trans "Qom"%}،
          {%trans "1st alley, Haft-e-tir St"%}،
          {%trans "Floor2, Yas Building"%}
        {%endif%}
        </p>

        <p class="phone-links"><a href="mailto:info@ermile.com">info@ermile.com<img src="{{url.site}}/static/careers/images/svg/envelope.svg" alt="envelope.svg"></a></p>
        <p class="phone-links"><a href="tel:02537735183">{%trans "+98 25 3773 5183"%}<img src="{{url.site}}/static/careers/images/svg/phone-call.svg" alt="phone-call.svg"></a></p>
       </div>
     </div>
    </div>
    <div class="company-logo">
     <a href="http://ermile.com"><img src="{{url.site}}/static/careers/images/ermile.png" alt="ermile.png"></a>
    </div>
    <div class="lang-btn">
     {{langList({'html':true, 'class':"float-right"})}}
    </div>
   </div>
  </div>
 </footer>


<div class='modal' id='resume-send'>
 <div class='modal-dialog'>
  <form method="post" class='modal-body'>
   <h3 class='modal-title'>{%trans "Kindly register your Information"%}</h3>
   <img src="{{url.site}}/static/careers/images/svg/error.svg" alt="error.svg" class="close" data-cancel>
   <input type="text" name="name" placeholder='{%trans "Name"%}' maxlength="20">
   <input type="number" name="number" placeholder='{%trans "Mobile"%}' min="11">
   <input type="file" name="file" id="file" />
   <label class="custom-file-upload" for="file"><strong>{%trans "Upload CV"%}</strong></label>
   <input type="hidden" name="type" id="resume-type" value="">
   <input type="submit" name="send-resume" value='{%trans "Send your Information"%}' data-ok>
  </form>
 </div>
 </div>
{%endblock%}
