{%extends display.home%}

{%block article%}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.9222715295373!2d50.884069915550675!3d34.631404494433475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f93bc8773e6f7b5%3A0xc7376f2f87852216!2z2LPYsdi02YXYp9ix!5e0!3m2!1sen!2sir!4v1483090313738" width="100%" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen style="border:0"></iframe>
<p>{%trans%}Ermile is ready for future...{%endtrans%}</p>
<p>{%trans%}Maybe tomorrow you hear more about our works!{%endtrans%}</p>

{%set linkTld %}{%if site.currentlang == 'fa'%}ir{%else%}com{%endif%}{%endset%}
{%set linkProtocol %}{%if site.currentlang == 'fa'%}http{%else%}https{%endif%}{%endset%}

<p>
	<a href="{{linkProtocol}}://talambar.{{linkTld}}">{%trans%}Talambar{%endtrans%}</a>,
	<a href="http://jibres.{{linkTld}}">{%trans%}Jibres{%endtrans%}</a>,
	<a href="{{linkProtocol}}://azvir.{{linkTld}}">{%trans%}Azvir{%endtrans%}</a>,
	<a href="{{linkProtocol}}://sarshomar.{{linkTld}}">{%trans%}Sarshomar{%endtrans%}</a>,
	<a href="http://saloos.ir">{%trans%}Saloos{%endtrans%}</a>,
	<a href="{{linkProtocol}}://deadbrowser.{{linkTld}}">{%trans%}DeadBrowser{%endtrans%}</a>
</p>
<p>{%trans%}#614, Omranieh, Moallem St, Qom, Iran{%endtrans%} {%trans%}+98 25 3773 5183{%endtrans%}</p>
{%endblock%}
