.tbl{
	width:100%;
	max-width:100%;
	background-color: transparent;
	margin-bottom: 1em;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:0.25rem;
	text-align: left;
	color: #777;
	transition:0.3s;
	overflow:hidden
}
.rtl .tbl{
	text-align:right;
}

.tbl td, .tbl th{
	padding:0.7em 0.7em;
	max-width:600px;
	overflow:hidden;
	text-overflow: ellipsis;
}

.tbl tbody tr > *{
	border-top: 1px solid rgba(30,30,30,.1);
}

.tbl tr:first-child > *{
	border-top:none;
}

.tbl thead th{
	vertical-align: bottom;
	border-bottom: 2px solid rgba(30,30,30,.1);
	background-color: rgba(10,10,40,0.1);
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: 700;

}
.tbl tfoot th{
	vertical-align: bottom;
	border-top: 2px solid rgba(30,30,30,.1);
	background-color: rgba(10,10,40,0.1);
	padding-top: 1em;
	padding-bottom: 1em;
	font-style: normal;
	font-weight: 400;

}


// style for padded table
.tbl.padded td, .tbl.padded th{
	padding: 1em 1em;;
}

.tbl.padded thead th{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.tbl.padded tfoot th{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.tbl.compact{
	display:table;
}

.tbl.compact td, .tbl.compact th{
	padding: 0.25em 0.5em;;
}

.tbl.compact thead th{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.tbl.compact tfoot th{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


// zebra styles
.tbl:not(.nozebra) tbody tr:nth-child(2n){
	background-color:rgba(0,0,30, 0.03)
}

.tbl.dark:not(.nozebra) tbody tr:nth-child(2n){
	background-color:rgba(255,255,255, 0.03)
}
.tbl.secondary:not(.nozebra) tbody tr:nth-child(2n){
	background-color:rgba(255,255,255, 0.03)
}


// bordered table
.tbl.bordered td, .tbl.bordered th{
	border: 1px solid rgba(0,0,0,0.05);
}

.tbl.dark.bordered td, .tbl.dark.bordered th{
	border: 1px solid rgba(255,255,255,0.05);
}

.tbl.secondary.bordered td, .tbl.secondary.bordered th{
	border: 1px solid rgba(255,255,255,0.05);
}


// hoverable feature
.tbl tbody tr{
	transition:0.3s;
}
.tbl tbody tr:hover{
	background-color: rgba(0,0,0,.07);
}
.tbl.dark tbody tr:hover{
	background-color: rgba(255,255,255,.07);
}
.tbl.secondary tbody tr:hover{
	background-color: rgba(255,255,255,.07);
}
.tbl.dead tbody tr{
	background-color: inherit;
}


.tbl.fix{
	table-layout: fixed;
}

