{%extends display.dash%}


{%block pageContent%}

<div class="">
	{%for key, value in projectsList%}
	<div class="f">

	  <div class="c5 s12">
	    <a class="dcard x2 txtC" href="{{value.site}}" data-direct>
	      <img src="{{value.logo}}" alt='{{value.name}}' class="w100">
	      <h1>{{value.name}}</h1>
	    </a>
	  </div>

	  <div class="c4 s12">

	  	<div class="dcard x2 f">

		  	<div class="">{%trans "Last update"%} <b>{{value.lastUpdateTime | date("Y-m-d H:i:s") | dt("human", 'year')}}</b></div>

		  	<div class="">{%trans "Project database"%} <b>{{value.dbVersion | fitNumber(false)}}</b></div>

		  	<div class="">{%trans "Addon Database"%} <b>{{value.dbVersionAddon | fitNumber(false)}}</b></div>

			  	<div class="progress" data-percent='{{value.left}}'>
			    	<div class="bar"></div>
			  	</div>

	  	</div>

	  </div>

	  <div class="c3">
	  	<div class="dcard x2">
	  		<code class="mB10">{{key}}</code>
		  	<form method="post">
		  		<input type="hidden" name="domain" value="{{key}}">
		  		<button class="btn hauto block danger ">{%trans "Update git repository"%}</button>
		  	</form>
	  	</div>
	  </div>

	</div>
	{%endfor%}
</div>
{%endblock%}
