<!DOCTYPE html>
<html lang="{{global.lang|replace({'_': '-'}) }}" class="{{global.direction}}">
<head>
{%block head_def%}
 <meta charset="UTF-8"/>
 <base href="{{url.current}}"/>
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
 <title>{{global.page_title}}{%if global.site_title_show and global.page_title%} | {%endif%}{%if global.site_title_show%}{{global.site_title}}{%endif%}</title>
 <meta name="description"        content="{{global.page_desc}}"/>
 <meta property="og:site_name"   content="{{global.site_title}}"/>
 <meta property="og:title"       content="{{global.page_title}}"/>
 <meta property="og:description" content="{{global.page_desc}}"/>
 <meta property="og:url"         content="{{url.root}}"/>
 <meta property="og:image"       content="{{url.static}}images/logo.png"/>
 <meta property='og:locale'      content='fa_IR'/>
 <!-- [if lte IE 8]><script>document.location = 'http://www.whatbrowser.org/intl/fa/';</script><![endif] -->
 <link rel="author"        href="{{url.static}}humans.txt"/>
 <link rel="shortcut icon" href="{{url.static}}images/favicon.png"/>
{%if include.customcss   %} <link rel="stylesheet"    href="{{url.static}}css/style.css?ver=0.0.1">{{include.newline}}{%endif%}
{%if include.fontawesome %} <link rel="stylesheet"    href="{{url.static}}css/font-awesome.min.css?v4.2.0">{{include.newline}}{%endif%}
{%if include.datatable   %} <link rel="stylesheet"    href="{{url.static}}css/jquery.dataTables.css">{{include.newline}}{%endif%}
{%if include.telinput    %} <link rel="stylesheet"    href="{{url.static}}css/intlTelInput.css" >{{include.newline}}{%endif%}
{%block head_css%}{%endblock%}
{%block head_js%}{%endblock%}
{%endblock%}
{%block head%}{%endblock%}
</head>
{% import "includes/cls/macro/forms.html" as forms %}
{% if extendForm%}
    {% import macro.forms as forms %}
{% endif %}

<body id="{{module}}" class="{{bodyclass}}">

{%block body_def%}
{%block header_def%}
 <header>
   <div id="header" class="unselectable animated">
     <div id="site-title">
       <h1 id="logo"><a class="navbar-brand" href="{{url.root}}">{{global.site_title}}</a></h1>
       <nav>
         <div id="header-nav">
           <a href="{{url.root}}">Home Page</a>
           <a href="http://admin.{{url.raw}}/none">Admin</a>
           <a href="http://cp.{{url.raw}}">Control Panel</a>
{%if global.login%}
           <a href="{{url.root}}store/create">Create store</a>
           <a href="http://account.{{url.raw}}/logout">Logout</a>
{%else%}
           <a href="http://account.{{url.raw}}/login">Login</a>
{%endif%}
         </div>
       </nav>
     </div>
   </div>
   <div id="header-back"></div>
 </header>
{%endblock%}
{%block header%}{%endblock%}
{%block content_def%}
  <style type="text/css">
    body{background-color:#eee}.def-msg{font-family:sans-serif;padding-left:15%;color:#403B33;}h1.def-msg{margin-top:10%;color:#9E4949}
  </style>
  <h1 class='def-msg'>{{global.site_title}}</h1>
  <h2 class='def-msg'>{{global.site_desc}}</h2>
  <p class='def-msg'>Let start using Saloos! start edit twig block for show your content. for replace this text use <b>block content</b>.</p>
{%endblock%}
{%block footer_def%}
  <footer>
   <div id="footer">
    <div class="light1 row-padding-medium">
     <div class="container">
      <div class="row">
       <div class="span12">
        <p>Goto <a href="{{url.root}}" title="{{global.site_desc}}" class="roller cursor-help"><span data-title="{{global.site_title}} Homepage">{{global.site_title}} Homepage</span></a>.</p>
        <p>
          <select id="langlist">
{%for key, value in global.langlist%}{%if key == global.lang%}
            <option class="{{key}}" value="{{key}}" selected="selected">{{value}}</option>
{%else%}
            <option value="{{key}}">{{value}}</option>
{%endif%}{% endfor %}
          </select>
          {{include.gettext}}
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </footer>
{%endblock%}
{%block footer%}{%endblock%}
{%endblock%}
{%block debug%}
  {%if debug is iterable%}
    <div id="formError" class="error_{{debug.status}}">
    {%for key, mydebug in debug.messages if mydebug is iterable %}
     <ul class="{{key}}">
     {%for key, err in mydebug%}
     {%if err.title is defined%}
      <li class="{{err.group}} {{err.redirect}}">{{err.title}}</li>
     {%else%}
      <li class="n_{{key}}">{{err}}</li>
     {%endif%}
     {%endfor%}
     </ul>
     {%endfor%}
    </div>
  {%endif%}
{%endblock%}
{%block foot_css%}{%endblock%}

 <script src="{{url.static}}js/common.js"></script>
{%if include.datatable   %} <script src="{{url.static}}js/jquery.dataTables.min.js"></script>{{include.newline}}{%endif%}
{%if include.editor      %} <script src="{{url.static}}js/ckeditor/ckeditor.js"></script>{{include.newline}}{%endif%}
{%if include.telinput    %} <script src="{{url.static}}js/intlTelInput.min.js"></script>{{include.newline}}{%endif%}
{%if include.customjs    %} <script src="{{url.static}}js/custom.js"></script>{{include.newline}}{%endif%}
{%block foot_js%}{%endblock%}
</body>
</html>