{% import "includes/cls/macro/forms.html" as forms %}
{% if extendForm%}
{% import macro.forms as forms %}
{% endif %}
<body data-xhr="body_def" id="{{module}}" class="{{global.direction}} {{bodyclass}}">
	{%block body_def%}
	<div data-xhr="header_def">
		{%block header_def%}{%endblock%}
	</div>
	<div data-xhr="header">
		{%block header%}{%endblock%}
	</div>
	<div data-xhr="content_def">
		{%block content_def%}{%endblock%}
	</div>
	<div data-xhr="footer_def">
		{%block footer_def%}{%endblock%}
	</div>
	<div data-xhr="footer">
		{%block footer%}{%endblock%}
	</div>
	{%endblock%}
</body>
<div data-xhr="foot_js">
	{%block foot_js%}{%endblock%}
</div>