<div data-xhr="head_def">
	{%block head_def%}
	<div data-xhr="head_css">
		{%block head_css%}{%endblock%}
	</div>
	<div data-xhr="head_js">
		{%block head_js%}{%endblock%}
	</div>
	<div data-xhr="head">
		{%block head%}{%endblock%}
	</div>
	{%endblock%}
</div>
{% import "includes/cls/macro/forms.html" as forms %}
{% if extendForm%}
{% import macro.forms as forms %}
{% endif %}
<div data-xhr="body_def">
	{%block body_def%}
	<div data-xhr="header_def">
		{%block header_def%}{%endblock%}
	</div>
	<div data-xhr="header">
		{%block header%}{%endblock%}
	</div>
	<div data-xhr="content_def">
		{%block content_def%}{%endblock%}
	</div>
	<div data-xhr="footer_def">
		{%block footer_def%}{%endblock%}
	</div>
	<div data-xhr="footer">
		{%block footer%}{%endblock%}
	</div>
	{%endblock%}
</div>
<div data-xhr="foot_js">
	{%block foot_js%}{%endblock%}
</div>