body{min-height:100%}
/* Initial CSS */
body{background-color:#d7d8d8;background-image:url(images/bg.jpg);background-repeat:repeat;background-size:cover;display:-webkit-box !important;display:-webkit-flex !important;display:-ms-flexbox !important;display:-moz-box !important;display:flex !important;-webkit-box-pack:center !important;-webkit-justify-content:center !important;-ms-flex-pack:center !important;-moz-box-pack:center !important;justify-content:center !important;-webkit-box-align:center !important;-webkit-align-items:center !important;-ms-flex-align:center !important;-moz-box-align:center !important;align-items:center !important}
body.bg1{background-image:url(images/bg.jpg)}
body.bg2{background-image:url(images/2.jpg)}
body.bg3{background-image:url(images/3.jpg)}
body.bg4{background-image:url(images/4.jpg)}
body.bg5{background-image:url(images/5.jpg)}
body.bg6{background-image:url(images/6.jpg)}
body.bg7{background-image:url(images/7.jpg)}
body.bg8{background-image:url(images/8.jpg)}
body.bg9{background-image:url(images/9.jpg)}
body.bg10{background-image:url(images/10.jpg)}
body.bg11{background-image:url(images/11.jpg)}
body.bg12{background-image:url(images/12.jpg)}
body.bg12{background-image:url(images/12.jpg)}
body.bg13{background-image:url(images/13.jpg)}
body.bg14{background-image:url(images/14.jpg)}
body.bg15{background-image:url(images/15.jpg)}

/* Layout */
#enter{width:20%;min-width:350px;max-width:450px;min-height:400px;margin-bottom:10vh;margin-top:10px;padding:40px;background-color:rgba(255,255,255,0.2);border-radius:5px;box-shadow:0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0, 0, 0, 0.05);transition:0.3s;color:#fff;}
#enter.large{height:400px}
#enter #band{position:relative;width:100px;height:10px;margin:0 auto 20px;border-radius:5px;background-color:rgba(0,0,0,.25)}
#enter #band::before{position:absolute;right:0;bottom:10px;left:0;width:50%;height:3000px;margin:auto;content:'';background-color:rgba(255,255,255,0.7);box-shadow:0px -5px 5px #757575;border-radius:0}
#enter .logo{margin:0}
#enter .logo a{display:block;}
#enter .logo a:focus img{background-color:rgba(0,0,0,0.1);border-radius:50%}
#enter .logo img{display:block;max-width:100%;height:90px;margin:0 auto;transition:0.3s;}
#enter .logo span{display:none !important}
#enter h2{font-size:1.2em;overflow:hidden;margin:1em 0;text-align:center;color:#fff}
#enter h2 abbr{cursor:pointer;}
#enter .text p{font-size:1.2em;line-height:2em;margin-bottom:2em;transition:0.3s;padding:0.5em}
#enter .text p:hover{background-color:rgba(0,0,0,0.1);}
#enter .text a{color:#eee;padding:1em 0.5em;display:inline-block;transition:0.3s;}
#enter .text a:hover{background-color:rgba(255,255,255,0.1);}
#enter .sessions > div{font-size:1.1em;line-height:2em;margin-bottom:2em;transition:0.3s;padding:0.5em;position:relative;}
#enter .sessions > div:hover{background-color:rgba(0,0,0,0.1);}
#enter .sessions > div abbr{float:right;}
#enter .sessions .browser{font-weight:700;}
#enter .sessions .os{color:#eee}
#enter .sessions .ip{color:#ddd}
#enter .sessions .lastseen{color:#ddd;position:absolute;right:0.5em;top:0.5em;}
#enter .sessions a{background-color:#eee;opacity:0;padding:0.4em 1em;display:inline-block;color:#333;border:2px solid transparent;position:absolute;right:0.5em;bottom:0.5em;transition:0.3s}
#enter .sessions:hover a{opacity:0.5}
#enter .sessions a:hover{border-color:#cab530;opacity:0.6;}
#enter .sessions a:focus{border-color:#444;opacity:0.8;}
/* form new styles*/
form{line-height:30px;font-size:1.8em;}
form .flex{border-radius:3px;height:50px;margin:1em 0;}
form .flex.hide{display:none!important;}
form .flex label{padding:0;border:none;direction:ltr;min-width:50px;width:50px;background-color:rgba(0,0,0,0.2);color:#ddd;transition:0.3s;cursor:pointer;text-align:center;font-size:0.8em;line-height:50px;}
form .flex label:hover{background-color:rgba(0,0,0,0.3);}
form .flex input{padding:10px 1em;border:none;direction:ltr;width:100%;background-color:rgba(0,0,0,0.1);color:#eee;transition:0.3s;}
form .flex input:hover{background-color:rgba(0,0,0,0.15);}
form .flex input:focus{background-color:rgba(0,0,0,0.25);}
form .flex input::-webkit-outer-spin-button,form .flex input::-webkit-inner-spin-button{-webkit-appearance:none;}
form .flex ::-webkit-input-placeholder{color:#ccc;}
/* custom style for some inputs*/
form #emobile label{padding:10px 0}
form #eramz label, form #eramzNew label{font-size:2em;line-height:1.9em}
form #eramz input[type="text"], form #eramzNew input[type="text"]{font-size:0.5em;}
form #eusername label{padding:10px 0}
/* change style of autocomplete*/
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill{border: none;-webkit-text-fill-color: #fff;-webkit-box-shadow: 0 0 0px 1000px #000 inset;transition: background-color 0.3 ease-in-out 0s;}

form .flex button{width:100%;padding:10px;cursor:pointer;border:none;border-radius:3px;outline:none;background-color:#0275d8;color:#fff;opacity:0.6;transition:0.3s}
form .flex button:hover{opacity:0.8}
form .flex button:focus{opacity:1}
form .link{color:#eee;font-size:0.8em;padding:0.5em 1em;transition:0.3s;display:block;}
form .link:hover{background-color:rgba(0,0,0,0.1)}
form .link:focus{background-color:rgba(0,0,0,0.2)}


hr{margin-bottom:1em;}
#eMethods{font-size:0.5em;}
#eMethods div{height:40px;line-height:40px;margin:5px 0;margin:5px;}
#eMethods div a{height:100%;background-color:rgba(0,0,0,0.1);transition:0.3s;display:inline-block;color:#eee;margin:0}
#eMethods div a:hover{opacity:0.7}
#eMethods .active a{background-color:rgba(0,0,0,0.6)}

#eMethods #ebgoogle a{border:1px solid #fff;border-radius:3px;overflow:hidden;}
#eMethods #ebgoogle svg{min-width:38px;height:100%;background-color:#eee;}
#eMethods #ebgoogle span{padding:0 1em;width:100%;}

#eMethods #ebmobile a{min-width:40px;width:40px;text-align:center;padding:5px 0}
#eMethods #ebemail a{min-width:40px;width:40px;text-align:center;}
#eMethods #ebusername a{min-width:40px;width:40px;text-align:center;padding:5px 0;}



/* filed style*/
/*#enter .field{border-radius:3px;overflow:hidden}
#enter .field label{background-color:#fff;color:#6f6f6f;transition:0.3s;background-color:#eee;}
#enter .field label:hover{background-color:#ddd}
#enter .field label svg{display:none;}
#enter .field label.mobile svg#i-mobile{display:block;}
#enter .field label.username svg#i-username{display:block;}
#enter .field label.active{color:#00667a}
#enter .field label span[class*="icon-"]{font-size:20px}
#enter .field label .icon-range-right{display:none;cursor:pointer;}
#enter .field label span:not([class*="icon-"]){font-weight:bold;font-size:1.2em}
#enter .usernameBox label{cursor:pointer;}
#enter .field input,#enter button{-webkit-transition:0.3s;transition:0.3s}
#enter .field input{width:100%;padding:10px 5%;border:none;background-color:#fff;direction:ltr;color:#404040;height:50px;line-height:50px}
#enter .field input.disabled,#enter .field input[disabled],.disabled input,.disabled label{pointer-events:none;opacity:.45}
#enter .field input.ltr{text-align:left}
#enter .field input.center{text-align:center}
#enter .field input::-webkit-outer-spin-button, #enter .field input::-webkit-inner-spin-button{-webkit-appearance:none;}
#enter .goBox.notExist {display:none}
#enter button{display:block;width:100%;padding:10px;cursor:pointer;border:none;border-radius:3px;outline:none;background-color:#0275d8;color:#fff}
#enter button:hover,#enter button:focus{color:#fff;background-color:#025aa5}
#enter .codeBox .field label .icon-barcode{font-size:1.2em}
#enter .passcodeBox,.pinBox,.codeBox{display:none}
#enter .passcodeBox,.pinBox,.codeBox,.goBox{margin-top:20px}*/
/*.mesh{background:url(images/mesh.png);width:100%;height:100%;position:absolute;top:0px;}*/
/*langlist*/
.langlist{position:fixed;bottom:0;left:0;padding:1em}
.rtl .langlist{left:inherit;right:0;}
.langlist a{display:inline-block;padding:1em 2em;color:#fff;background-color:#000;transition:0.3s;opacity:0.3}
.langlist a:hover{opacity:0.6;}
.langlist a:focus{opacity:8;background-color:#000;color:#fff;}
/*type effect*/
.typed-cursor{opacity:1;-webkit-animation:blink 0.7s infinite;-moz-animation:blink 0.7s infinite;animation:blink 0.7s infinite}
@keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
@-webkit-keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
@-moz-keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
.typer__cursor--blink{-webkit-animation:blink 1s infinite;-moz-animation:blink 1s infinite;animation:blink 1s infinite}
@-webkit-keyframes blink{ 0%{opacity:1} 100%{opacity:0} }
@-moz-keyframes blink{ 0%{opacity:1} 100%{opacity:0} }
@keyframes blink{ 0%{opacity:1} 100%{opacity:0} }

/* responsive design*/
@media all and (min-width:768px) and (max-width:959px) {

}

@media all and (min-width:320px) and (max-width:767px) {
 #enter{min-width:300px;padding:40px 20px;width:50%}
 #enter .logo{}
 .langlist{display:none;}
}

