
/* footer */
.siftal footer{height:30px;flex-shrink:0;background-color:#eaeaea;}
.siftal footer #copyright{padding:0 1em;}
.siftal.ltr footer #copyright{margin-left:auto;}
.siftal.rtl footer #copyright{margin-right:auto;}
.siftal footer #copyright span{display:inline-block;line-height:30px;height:30px}
.siftal footer #copyright abbr{display:inline-block;line-height:30px;height:30px}
/* breadcrumb */
.siftal footer .breadcrumb nav{padding:5px 1em;display:inline-block;line-height:30px;height:30px}
.siftal footer .breadcrumb nav a{font-size:1em;line-height:20px;color:#99a0aa;float:left;font-weight:700;transition:0.3s;}
.siftal footer .breadcrumb nav a:hover{color:#656d78;}
.siftal footer .breadcrumb nav a:last-child{color:#656d78;}
.siftal footer .breadcrumb nav > a + a:before{font-family:"siftal";content:"\63";color:#99a0aa;padding:0px 8px;float:left;}
.siftal.rtl footer .breadcrumb nav a{float:right;}
.siftal.rtl footer .breadcrumb nav > a + a:before{content:"\62";float:right;}

