/*
@ In the name of Allah
Description: Saloos Account CSS
Author: Javad Evazzadeh Karkoudi | Ermile
Author URI: Evazzade.com
Version: 2.0.1
*/
body{background: url(../images/pattern/shattered_@2X.png);}
#sidebox{position: absolute;left: 0;top: 0;bottom:65px;min-height:350px;width:30%;min-width: 280px;max-width: 500px;margin:0;background: rgba(255,255,255,0.2);}
.content{margin: 0 auto;padding: 20px 2%;}
h1{color:#0FA1A6;text-shadow:0px 0px 3px #0FA1A6;text-align: center;font-size: 4em;font-weight: 700;}
.account button{position:relative;background-color:#4B8DF8;color:#fff;border-radius:3px; width:90%;margin-top:20px;font-size:1.6em;height:40px;padding-right: 30px;transition: all .3s ease;}
.account button:after{font-family:FontAwesome;content: "\f0a9";padding:0 5px;position:absolute;top:0;right:5px;font-size:25px;line-height:40px}
.account button:hover{background-color:#2E73E2}
.account button:active, .account button:focus{background-color:#094BB6}
.account input, .account select{direction:ltr;background-color:#fff;border-radius:3px;border:none;width:90%;min-height: 25px; margin:2px 5%;padding: 10px 5%;}
.account .field span{width:100%;}
#desc,.desc{text-align:center;margin-top: 15px;}
#desc p{margin:3px 0;}

header h1, header h2{
  display: none;
}

#logo{
  position: fixed;
  right:5%;
  bottom: 20vh;
  height: 70vh;
  z-index: 1;
  width: auto;
  max-height: 600px;
  transition: .7s;
}

#logo img{
  max-height: 100%;
}

footer{
  padding: 20px 0;
  opacity: 0.7;
  font-size: 1.5em;
  background: #FFF;
  box-shadow: 1px 1px 5px 0 #C4C5C6;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  h1{
    margin: 0
  }

  #logo{
    bottom: 0;
    right: 25%;
    height: 30vh;
    opacity: 0.6
  }

  #sidebox{
    position: static;
    width: 90%;
    margin: 0 5% 20vh;
    max-width: 100%;
  }
}

@media only screen and (max-width: 479px){
  #sidebox{
    position: static;
    width: 90%;
    margin: 0 5%;
    max-width: 100%;
  }

  #logo img {
    display: none;
  }
}
