body{
  /*background-color: #BCE8F1;*/
  background: url(../images/pattern/confectionary.png);
  background: url(../images/pattern/greyzz.png);
  background: url(../images/pattern/greyzz.png);
  background: url(../images/pattern/light_grey.png);
  background: url(../images/pattern/shattered.png);
  min-height: 100%;
}

nav{
  font-size: 3em;
  position: absolute;
  top: 20%;
  left: 7%;
}

nav a{
  display: block;
  padding: 10px 5% 0;
  color: #888;
  border-left: 5px solid transparent;
  transition: .3s;
  position: relative;
}

nav a::after{
  content: "";
  height: 5px;
  width:0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition:.4s;
}

nav a:hover::after{
  background-color: #555;
  width: 100%;
}

nav a:hover{
  color: #433
}

header{
  position: absolute;
  right:5%;
  top:10vh;
}

header #logo{
  width: auto;
  height: 70vh;
  max-height: 600px;
}

header h1, header h2{
  display: none;
}


footer{
  padding: 20px 0;
  opacity: 0.7;
  font-size: 1.5em;
  background: #FFF;
  box-shadow: 1px 1px 5px 0 #C4C5C6;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  nav{
    position:inherit;
    margin:10px auto;
    text-align:center;
    font-size:2em;
  }

  nav a{
    display:inline-block;
  }

  header{
    position:inherit;
    margin-top: 10vh;
  }

  header #logo{
    width:60vw;
    margin:0 auto;
    height:auto;
    display:block;
  }

  footer{
    text-align:center;
  }
}

@media only screen and (min-width:768px) and (max-width:959px) {
  header #logo{
    width:50vw;
    margin:0 auto;
    height:auto;
    display:block;
  }
}
