@import url("intlTelInput.css");

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(../fonts/robotoslab.woff2) format('woff2'); 
}
@font-face {
  font-family: 'IRANSans';
  src: url('../fonts/IRAN Sans.woff') format('woff'),  /* FF3.6+, IE9, IE10, Chrome6+, Saf5.1+*/
  url('../fonts/IRAN Sans.woff2') format('woff2');
}
[dir="ltr"] body{font-family:'Roboto Slab',serif;direction: ltr;}
[dir="rtl"] body{font-family:'IRANSans',serif;direction: rtl;}
html {font-size:62.5%;font-family:Tahoma, Helvetica, Arial, Sans-Serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-rendering: optimizeLegibility;}
body {margin:0;padding:0;background-color: #34383d;color:#4f5561;background: #34383d;}
a{color:#6f7787;text-decoration:none;outline:none;}
ul{list-style-type:none }
pre{direction:ltr;text-align:left;background:#eee;font-size:15px;font-size:1.5rem;line-height:1.6;margin:1em auto;padding:1.6em;overflow:auto;max-width:90%;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.center{position: relative;min-width:280px;max-width:350px;margin: 0 auto;margin-bottom: 80px;}
h1{color: #222;text-shadow: 0px 2px 3px #555;text-align: center;font-size: 30px;}
#logo{display: block;margin:10vh auto 0px;width:120px;height:auto;border:none}
.unselectable{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#desc,.desc{text-align:center;font-size:12px;color:#888; margin-top: 15px;}
#desc a{color: #999;text-shadow: 0px 3px 8px #2a2a2a;text-align: center;}
#desc a:hover{color: #aaa;}
#desc p{margin:3px 0;}
#delay{transition: opacity 2s ease;font-size:20px;color:#eee;}
.hide{opacity: 0;}
.show{opacity: 1;}

.account button{position: absolute;display: inline;right:-30px;top:21px;-webkit-border-radius: 100%;border-radius: 100%;height: 60px;width:60px;background-color: #1c1e21;border: 10px solid #34383d;color:#4f5561;z-index:3}
.account button:after{-webkit-filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));}
.account button:after,.account button:before{position: absolute;content: " ";right: 15px;top: 7px;width: 6px;height: 18px;background: #4f5561;-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);display: block;z-index: 102;transition: all .3s ease;-webkit-transition: all .3s ease;-o-transition: all .3s ease;-moz-transition: all .3s ease;}
.account button:before{height: 14px;top: 19px;right: 16px;z-index: 103;-moz-transform: rotate(-137deg);-ms-transform: rotate(-137deg);-webkit-transform: rotate(-137deg);transform: rotate(-137deg);-webkit-filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.15));filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.15));}
.account button:hover:after,.account button:hover:before,.account button:focus:after,.account button:focus:before{background:#fff;}
#recovery .account button, #changepass .account button{top:0;}
#verification .country-list, #verification .arrow{display:none}
#verification .selected-flag{ cursor: default;}

.account{direction:ltr;position:relative;background-color: #1c1e21;padding:10px 20px;color: #4f5561;-webkit-border-radius: 10px;border-radius: 10px;margin-right:22px;margin-left:5px}
.account input{background-color: transparent;padding:0px;color: #4f5561;border:none;width:100%;transition: color .3s ease;height: 40px;}
.account input:focus,.account input:active{color:#eee}
.account input::selection{color:#4f5561;}
.form-element{border-bottom:3px solid #34383d;}
.form-element:last-child,.center .form-element:nth-last-child(2){border:none;}
.form-element span{width:100%;}

.intl-tel-input {width:96%;margin-right:4%;z-index:10;}
.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {padding-left: 0px;padding-right: 50px;margin-right: 0;}
.intl-tel-input .flag-dropdown {top: -5px;right: 0;}
.intl-tel-input .selected-flag .arrow {left:inherit;right: 10px;}
.intl-tel-input .country-list{right:0;width:300px;height:190px;}

input:focus,select:focus,textarea:focus,button:focus{outline:none;}
input::-webkit-input-placeholder{color:#4f5561;transition: color .3s ease;}
input::-moz-placeholder{color:#4f5561;}
input:-ms-input-placeholder{color:#4f5561;}

input:focus::-webkit-input-placeholder{color:#ccc;}
input:focus::-moz-placeholder{color:#ccc;}
input:focus:-ms-input-placeholder{color:#ccc;}

input:-webkit-autofill {-webkit-box-shadow:0 0 0 50px #1c1e21 inset;-webkit-text-fill-color: #4f5561;z-index: 2;}
input:-webkit-autofill:focus {-webkit-box-shadow: /*your box-shadow*/,0 0 0 50px #1c1e21 inset;-webkit-text-fill-color: #ccc;}
input:invalid{box-shadow: none;}





#footer{position: fixed;bottom: 0;width:80%;z-index:2;background-color: rgba(0, 0, 0, 0.1);padding:15px 10%;font-size: 16px;line-height: 30px;height:30px;}
#footer #langlist{float: right;font-family:tahoma,serif;font-size: 0.8em;height:30px;padding:0 10px;}
[dir="rtl"] #footer #langlist{float: left;}
#footer select{direction:ltr;padding:5px;font-size:1em;border:0;opacity:0.2;transition: all .2s ease-in;-webkit-transition: all .2s ease-in;-o-transition: all .2s ease-in;-moz-transition: all .2s ease-in;}
#footer select:hover{opacity:0.8;}


/* Form Error Box  || error_0: failed | error_1: successful | error_2: warning;*/
#formError{position: fixed;z-index:100;bottom:70px;right:0px;margin:0 2%;min-width:30%;max-width:100%;width:400px;color:#fff;font-size:1.5em}
.error_false{color:#3a87ad;background-color:#d9edf7;}
.error li{background-color:rgba(254,26,0,.9);}
.true li{background-color:rgba(92,184,17,.9);}
.warn li{background-color:rgba(0,0,0,.9);}
#formError ul{margin:0;padding:0 2%}
#formError ul li{margin-top: 10px;padding:3% 5%;border-radius: 4px;}

input {transition: background-color 100ms ease-out;font-family:'Roboto Slab',serif;font-size: 18px;}
[dir="rtl"] input {font-family:'IRANSans',serif;font-size: 16px;}
form input.flash {transition: color 0;color: #FFC7C7;}
form input.valid {color: #4C5E3B;}
form input.invalid {color: #5E3B3B;}

/*! Hint.css - v1.3.3 - 2014-07-06 * http://kushagragour.in/lab/hint/ * Copyright (c) 2014 Kushagra Gour; Licensed MIT */
.hint,[data-hint]{position:relative;display:inline-block}.hint:before,.hint:after,[data-hint]:before,[data-hint]:after{border-radius:4px;position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:hidden;opacity:0;z-index:1000000;pointer-events:none;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;-webkit-transition-delay:0ms;-moz-transition-delay:0ms;transition-delay:0ms}.hint:hover:before,.hint:hover:after,.hint:focus:before,.hint:focus:after,[data-hint]:hover:before,[data-hint]:hover:after,[data-hint]:focus:before,[data-hint]:focus:after{visibility:visible;opacity:1}.hint:hover:before,.hint:hover:after,[data-hint]:hover:before,[data-hint]:hover:after{-webkit-transition-delay:100ms;-moz-transition-delay:100ms;transition-delay:100ms}.hint:before,[data-hint]:before{content:'';position:absolute;background:transparent;border:6px solid transparent;z-index:1000001}.hint:after,[data-hint]:after{content:attr(data-hint);background:#383838;color:#fff;padding:8px 10px;font-size:12px;line-height:12px;white-space:nowrap}.hint--top:before{border-top-color:#383838}.hint--bottom:before{border-bottom-color:#383838}.hint--left:before{border-left-color:#383838}.hint--right:before{border-right-color:#383838}.hint--top:before{margin-bottom:-12px}.hint--top:after{margin-left:-18px}.hint--top:before,.hint--top:after{bottom:100%;left:10%}.hint--top:hover:after,.hint--top:hover:before,.hint--top:focus:after,.hint--top:focus:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--bottom:before{margin-top:-12px}.hint--bottom:after{margin-left:-18px}.hint--bottom:before,.hint--bottom:after{top:100%;left:10%}.hint--bottom:hover:after,.hint--bottom:hover:before,.hint--bottom:focus:after,.hint--bottom:focus:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--right:before{margin-left:-12px;margin-bottom:-6px}.hint--right:after{margin-bottom:-14px}.hint--right:before,.hint--right:after{left:100%;bottom:50%}.hint--right:hover:after,.hint--right:hover:before,.hint--right:focus:after,.hint--right:focus:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--left:before{margin-right:-12px;margin-bottom:-6px}.hint--left:after{margin-bottom:-14px}.hint--left:before,.hint--left:after{right:100%;bottom:50%}.hint--left:hover:after,.hint--left:hover:before,.hint--left:focus:after,.hint--left:focus:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--error:after{background-color:#b34e4d;text-shadow:0 -1px 0 #592726}.hint--error.hint--top:before{border-top-color:#b34e4d}.hint--error.hint--bottom:before{border-bottom-color:#b34e4d}.hint--error.hint--left:before{border-left-color:#b34e4d}.hint--error.hint--right:before{border-right-color:#b34e4d}.hint--warning:after{background-color:#c09854;text-shadow:0 -1px 0 #6c5328}.hint--warning.hint--top:before{border-top-color:#c09854}.hint--warning.hint--bottom:before{border-bottom-color:#c09854}.hint--warning.hint--left:before{border-left-color:#c09854}.hint--warning.hint--right:before{border-right-color:#c09854}.hint--info:after{background-color:#3986ac;text-shadow:0 -1px 0 #193b4d}.hint--info.hint--top:before{border-top-color:#3986ac}.hint--info.hint--bottom:before{border-bottom-color:#3986ac}.hint--info.hint--left:before{border-left-color:#3986ac}.hint--info.hint--right:before{border-right-color:#3986ac}.hint--success:after{background-color:#458746;text-shadow:0 -1px 0 #1a321a}.hint--success.hint--top:before{border-top-color:#458746}.hint--success.hint--bottom:before{border-bottom-color:#458746}.hint--success.hint--left:before{border-left-color:#458746}.hint--success.hint--right:before{border-right-color:#458746}.hint--always:after,.hint--always:before{opacity:1;visibility:visible}.hint--always.hint--top:after,.hint--always.hint--top:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--bottom:after,.hint--always.hint--bottom:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--left:after,.hint--always.hint--left:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--always.hint--right:after,.hint--always.hint--right:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--rounded:after{border-radius:4px}.hint--no-animate:before,.hint--no-animate:after{-webkit-transition-duration:0ms;-moz-transition-duration:0ms;transition-duration:0ms}.hint--bounce:before,.hint--bounce:after{-webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(0.71,1.7,.77,1.24);-moz-transition:opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(0.71,1.7,.77,1.24);transition:opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(0.71,1.7,.77,1.24)}.hint--flat:after{border-radius:4px;}


/* SVG Effect Creator */
.loading-page .svgperload path,.loading-page .svgperload circle{opacity:0.05;-webkit-animation:fadeit 1.0s ease infinite;animation:fadeit 1.0s ease infinite}
.loading-page .svgperload circle{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.loading-page .svgperload path:nth-child(2){-webkit-animation-delay:-.8s;animation-delay:-.8s}
.loading-page .svgperload path:nth-child(3){-webkit-animation-delay:-.5s;animation-delay:-.5s}
.loading-page .svgperload path:nth-child(4){-webkit-animation-delay:-.4s;animation-delay:-.4s}
.loading-page .svgperload path:nth-child(5){-webkit-animation-delay:-.2s;animation-delay:-.2s}

.loading-form .svgperload circle{opacity:0.5;-webkit-animation:fadeit 0.5s ease infinite;animation:fadeit 0.5s ease infinite}


@-webkit-keyframes fadeit{0%{ opacity:1; }100%{ opacity:0.1;}}
@keyframes fadeit{0%{ opacity:1; }100%{ opacity:0.1;}}


/* #Mobile (Landscape) =================================== Design for a width of 480px*/
@media only screen and (max-width: 767px){
	#logo{margin-top:0;}
	h1{margin:0 auto 10px;}
	#footer{position: relative;bottom: 0;margin-top:80px;}
  #formError{position:absolute;}
}

@media only screen and (max-width: 320px){
	.center{width: 100%;}
  #formError{top:10px;right:0px;}
}