@import url("font-awesome.min.css");
@import url("jquery.dataTables.css");



body {background-color: #f5f5f5;position: relative;color: #656d78;min-height:100%;height:100%;}
body::-webkit-scrollbar {width: 1em;}
body::-webkit-scrollbar-track {background-color:#e8e8e8;}
body::-webkit-scrollbar-thumb {background-color: #aaa;}

#page-sidebar{width:15%;position:fixed;background-color:#33414e;opacity:0.9;color:#fff;min-height:100%;height:100%;z-index:1000;overflow-y:scroll;}
#page-sidebar::-webkit-scrollbar {width: 0.3em;}
#page-sidebar::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
#page-sidebar::-webkit-scrollbar-thumb {background-color: #aaa;}
#page-sidebar a{display:block;color:#999;padding:0 5%;line-height:300%}
#page-sidebar a:hover{color:#fff;background:rgba(255,255,255,0.2)}
#page-sidebar #page-logo{height:45px;padding:0 5px;margin:0;background-color:#3fbae4;}
#page-sidebar #page-logo a{line-height:45px;color:white;font-size:1em;text-align:center;padding:0}
#page-sidebar #page-logo a:hover{color:#fff;background:none;}
#page-sidebar .sidebar-items{margin-top:20px;}
#page-sidebar .sidebar-items i{padding: 0 5%}
#page-sidebar .sidebar-items a{border-width:2px;border-color:#33414e;font-size:1.5em;font-size:1.1vw;}
#page-sidebar .sidebar-items a:hover{border-color:#fff;}
.ltr #page-sidebar .sidebar-items a{border-left-style: solid;}
.rtl #page-sidebar .sidebar-items a{border-right-style: solid;}
#page-sidespace{width:15%;float:left;min-height:100%;}
.rtl #page-sidespace{float:right;}
.sidebar-items a:hover .fa-cog{  -webkit-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;}

#page-content{float:left;width:85%;background-color:#f5f5f5;color:#fff;min-height:100%;position:relative;padding-bottom:50px;}
.rtl #page-content{float:right}
#page-content > #content{margin: 0 1%;display: block}
.rtl #page-content > #content{margin-left:2%;}
#page-content > #content #page-title{margin:0 1%;border-bottom:1px solid #C7D1DD;margin:10px 0 35px;padding-bottom:5px;}
#page-content > #content #page-title h2{font-weight:bold;display:inline-block;}

#header{width: 100%;z-index: 2;height:45px;line-height:45px;background-color: #33414e;}
#header-nav{float:left;}
.rtl #header-nav{float:right;}
#header-nav > li{display:inline-block;padding:0 15px;}
#header-nav > li:hover{background:#3d4e5d;color:#fff;}
#header-nav > li > a{display:inline-block;color:#ddd;height:100%;}

#profile{float:right;height:100%;cursor:pointer;}
.rtl #profile{float:left;}
#profile span{font-size:1.5em;height:100%;display:inline-block;padding: 0 20px;text-align:right;min-width:150px;}
#profile span i{padding: 10px;}
#profile:hover span{background:#3d4e5d;color:#fff; }
.vertical-menu #profile-me:hover i{color:#5cb85c;}
.vertical-menu #profile-lock:hover i{color:#f0ad4e;}
.vertical-menu #profile-logout:hover i{color:#F0433D;}
 
#profile:hover .vertical-menu{display:block;}
#profile:active .vertical-menu{display:block;}

#languages .vertical-menu{margin-left:-15px;}
.rtl #languages .vertical-menu{margin-right:-15px;}
#languages:hover .vertical-menu{display:block;}


.vertical-menu {position:absolute;top:45px;background:#3d4e5d;z-index:100;line-height:20px;font-size:1em;display:none;}
/*.vertical-menu .default{background-color: #33414e}*/
.vertical-menu >.default:after{content:"\f00c";display:inline-block;color:#5cb85c;font: normal normal normal 14px/1 FontAwesome;float:right;}
.rtl .vertical-menu >.default:after{float: left;}
.vertical-menu > a{display:block;color:#ddd;padding:5px 10px;font-size:1.5em;border-top:1px solid #33414E;;min-width:150px}
.vertical-menu > a:hover{color:#fff;background:rgba(0,0,0,0.2)}
.vertical-menu > a > i{padding:0 10px;}

.breadcrumb {width: 100%;background: #e8e8e8;padding: 6px 15px;display: inline-block;}
.breadcrumb a{font-size: 1em;line-height: 12px;color: #99a0aa;float: left;}
.rtl .breadcrumb a{float: right;}
.breadcrumb a:hover {color: #656d78;}
.breadcrumb a:last-child {color: #656d78;}
.ltr .breadcrumb > a + a:before {font-family: "FontAwesome";content: "\f105";color: #99a0aa;padding: 0px 8px;}
.rtl .breadcrumb > a + a:after {font-family: "FontAwesome";content: "\f104";color: #99a0aa;padding: 0px 8px;}

#page-footer{padding:10px 20px;background:#e8e8e8;color:#99a0aa;border-top:1px solid #eee;position:absolute;left:0;right:0;display:block;bottom:0;}
#page-footer p{margin:0;}



.col_actions a{color:#fff;}









.no-boder {
  border: 1px solid #f3f3f3;
}
.text-center {
  text-align: center;
}

















.cover{padding-top: 80px;margin-top:-45px;}
#header-back {height: 45px;}

.medium-editor-placeholder{background-color: #eee;}



/* Admin */
#content #options{position: relative;z-index:2;width:100%;line-height: 35px;height: 35px;overflow:hidden;display:none}
#options-meta{background-color:#f3f3f3;padding:0;padding-left:120px;
transition: all .2s ease;-webkit-transition: all .2s ease;-o-transition: all .2s ease;-moz-transition: all .2s ease;}
#options-link{font-size: 14px;padding:0 20px;position: absolute;left:0px;top:0;z-index:2;background-color: #363636;background-color:#f3f3f3;border-width: 0;border-width:0 3px;border-style: solid;border-color: transparent;}
#options-link:hover{background-color: #E8E5E5;border-style: solid;border-left-color: #2DB2EA;}
#options .disappear{opacity: 0}

.rtl #options-meta{padding-right: 120px;}
.rtl #options-link{right:0;left:auto;}
.rtl #options-link:hover{border-left-color:transparent;border-right-color: #2DB2EA;}


#options-meta input{vertical-align:middle;}
#options-meta span{vertical-align:middle;}

.form-element{transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;-moz-transition: all .5s ease;
  display: block;
}
.form-element.disappear{display: none;}
.form-element.visuallyhidden {opacity: 0;}













@media only screen and (min-width: 1400px){

}