{%extends display.mvc%}


{%block head_css%}
 <link rel="stylesheet"    href="{{url.myStatic}}css/style-cp.css?ver=1.1.0">
{%endblock%}
{%block foot_js%}
 <script src="{{url.myStatic}}js/cp/cp.js"></script>
{%endblock%}












{%block body%}
 <aside id="page-sidebar">
  <h1 id="page-logo"><a href="{{url.root}}" title="{{site.desc}}">{{site.title}}</a></h1>
  <nav class="sidebar-items">
   <a href="#"><i class="fa fa-desktop"></i> {%trans "Dashboard"%}</a>
   <a href="#"><i class="fa fa-file-text-o"></i> {%trans "Posts"%}</a>
   <a href="#"><i class="fa fa-files-o"></i> {%trans "Pages"%}</a>
   <a href="#"><i class="fa fa-bookmark-o"></i> {%trans "Tags"%}</a>
   <a href="#"><i class="fa fa-file"></i> {%trans "Attachments"%}</a>
   <a href="#"><i class="fa fa-comments-o"></i> {%trans "Comments"%}</a>
   <a href="#"><i class="fa fa-user"></i> {%trans "Users"%}</a>
   <a href="#"><i class="fa fa-cogs"></i> {%trans "Settings"%}</a>
<!-- {% for i in list %}
   <a href="{{store}}/{{i}}">{% trans i %}</a>
{% endfor %} -->
  </nav>
 </aside>
 <div id="page-sidespace"></div>
 <section id="page-content">
  <header id="header">
   <ul id="header-nav">
    <li><a href="{{url.root}}"><i class="fa fa-home"></i></a></li>
    <li>
     <a href="{{url.root}}"><i class="fa fa-language"></i></a>
     <nav class="vertical-menu">
      <a href="/profile"><i class="fa fa-user"></i> {%trans "My Profile"%}</a>
      <a href="/lock"><i class="fa fa-lock"></i> {%trans "Lock Screen"%}</a>
      <a href="/logout"><i class="fa fa-sign-out"></i> {%trans "Logout"%}</a>
     </nav>
    </li>
   </ul>

   <div id="profile" tabindex=1>
    <span>Javad Evazzadeh<i class="fa fa-power-off"></i></span>
    <nav class="vertical-menu">
     <a href="/profile"><i class="fa fa-user"></i> {%trans "My Profile"%}</a>
     <a href="/lock"><i class="fa fa-lock"></i> {%trans "Lock Screen"%}</a>
     <a href="/logout"><i class="fa fa-sign-out"></i> {%trans "Logout"%}</a>
    </nav>
   </div>
  </header>

 <nav class="breadcrumb">
   <a href="/"><i class="fa fa-home"></i> Home</a>
   <a href="#2">Page 1</a>
   <a href="#3">Page 2</a>
   <a href="#4">Page 3</a>
   <a href="#5">Page 4</a>
 </nav>

 <section id="content">
{%if page.title%}  <h1>{{page.title}}</h1><hr />{%endif%}
{%block content%}{%endblock%} 
 </section>

 <footer id="page-footer">
  <p class="float-left">{%trans "Powered by Saloos."%} {%trans "All right reserved."%}</p>
  <p class="float-right">{%trans "Version"%} {{saloos.version}}</p>
 </footer>






 </section>

{%endblock%}