{%extends display.cp%}


{%block content%}

{% set fieldcounter = 0%}
{% for key, value in field_list if value.form%}{% set fieldcounter = (fieldcounter+1) %}{% endfor %}
{%if child and fieldcounter >0%}
 <div id="options" class="unselectable">
  <div id="options-meta" class="disappear">
{% for key, value in field_list if value.form%}
   <label class="label-custom"><input class="fields-toggle" type="checkbox" name="{{key}}" value="{{value.value}}" {%if value.show%}checked="checked"{%endif%}><span>{{value.name}}</span></label>
{% endfor %}
  </div>
  <a id="options-link" href="javascript: void(0)">{%trans%}Options{%endtrans%}</a>
 </div>
{%endif%}


  <p class="alert alert-block alert-info">
   <b class="float-left">{%trans module%}</b>|
   <a class="float-right" href="{{store}}/{{module}}">{%trans%}Go to{%endtrans%} {%trans module%}</a>
  </p>
   <form class="ajx form row inline autostyle" method="post">{{forms.make(form[module])}}</form>
{%endblock%}