{%extends display.cp%}


{%block content%}
 <div class="row">
  <div class="span12">
   <div class="panel panel-default">
     <div class="panel-body">

{%block datatable%}
{%if include.datatable%}
       <table class="datatable display responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
        <th class="column_row"></th>
{%for value in columns if value.table%}
        <th>{{value.label}}</th>
{%endfor%}
        <th class="column_actions">{%trans "Actions"%}</th>
        </tr>
        </thead>

        <tbody>
{%block tbody%}
{%for d in datatable%}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
         <td class="col_row">{{loop.index}}</td>
{%for col,value in columns if value.table%}
{%set myvalue = attribute(d,col)%}
{% if not myvalue or value.value == 'slug' or value.value == 'title'%}
         <td class="col_{{value.value}}">{{myvalue}}</td>
{%else%}
         <td class="col_{{value.value}}">{%trans myvalue%}</td>
{%endif%}
{%endfor%}
         <td class="col_actions">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <a class="fa fa-pencil fa-stack-1x label-default" href="{{store}}/{{module}}/edit={{d.id}}"></a>
          </span>

          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <a class="fa fa-times fa-stack-1x label-danger" href="{{store}}/{{module}}/delete={{d.id}}" data-data='{"id": {{d.id}}}' data-method="post" data-modal="delete-confirm"></a>
          </span>
         </td>
        </tr>
{%endfor%}
{%endblock%}
        </tbody>
       </table>
{%else%}
  <p class="alert alert-block alert-info">Data not exist!</p>
{%endif%}
{%endblock%}

     </div>
     <div class="panel-footer">
      <a class="float-right label label-info" href="{{store}}/{{module}}/add">{%trans%}Add New Record{%endtrans%}</a>
       {{page.title}}
     </div>
   </div>
  </div>
 </div>


 <div class='modal hidden' id='delete-confirm'>
  <div class='modal-dialog'>
   <h3 class='modal-title'>{%trans%}delete record{%endtrans%}</h3>
   <p class='modal-body'>{%trans%}seriously, are you sure? There's no coming back.{%endtrans%}</p>
   <div class='modal-footer buttons'>
    <a class='button delete-cancel' data-cancel>{%trans "Cancel"%}</a>
    <div class='or' data-text='{%trans "or"%}'></div>
    <a class='button negative' data-ajaxify data-ok>{%trans "Delete"%}</a>
   </div>
  </div>
 </div>

{%endblock%}