{%extends display.mvc%}


{%block head_css%}
 <link rel="stylesheet"    href="{{url.myStatic}}css/style-cp.css?ver=1.1.0">
{%endblock%}
{%block foot_js%}
 <script src="{{url.myStatic}}js/cp/cp.js"></script>
{%endblock%}






{%block body%}
 <aside id="page-sidebar">
  <h1 id="page-logo"><a href="{{url.root}}" title="{{site.desc}}">{{site.title}}</a></h1>
  <nav class="sidebar-items">
   <a href="/"><i class="fa fa-lg fa-desktop"></i> <span>{%trans "Dashboard"%}</span></a>
   <a href="/posts"><i class="fa fa-lg fa-file-text-o"></i> <span>{%trans "Posts"%}</span></a>
   <a href="/pages"><i class="fa fa-lg fa-files-o"></i> <span>{%trans "Pages"%}</span></a>
   <a href="/terms"><i class="fa fa-lg fa-bookmark-o"></i> <span>{%trans "Terms"%}</span></a>
   <a href="/attachments"><i class="fa fa-lg fa-file"></i> <span>{%trans "Attachments"%}</span></a>
   <a href="/comments"><i class="fa fa-lg fa-comments-o"></i> <span>{%trans "Comments"%}</span></a>
   <a href="/users"><i class="fa fa-lg fa-user"></i> <span>{%trans "Users"%}</span></a>
   <a href="/options"><i class="fa fa-lg fa-cog"></i> <span>{%trans "Options"%}</span></a>
<!-- {% for i in list %}
   <a href="{{store}}/{{i}}">{% trans i %}</a>
{% endfor %} -->
  </nav>
 </aside>
 <div id="page-sidespace"></div>
 <section id="page-content">
  <header id="header">
   <ul id="header-nav">
    <li><a href="{{url.root}}"><i class="fa fa-home fa-2x"></i></a></li>
    <li id="languages">
     <i class="fa fa-language fa-2x"></i>
     <nav class="vertical-menu">
{%for key, value in global.langlist%}{%if key == global.lang%}
      <a href="?lang={{key}}" class="default not-active">{{value}}</a>
{%else%}
      <a href="?lang={{key}}">{{value}}</a>
{%endif%}{% endfor %}
     </nav>
    </li>
   </ul>

   <div id="profile" tabindex=1>
    <span>{%trans "Javad Evazzadeh"%}
     <i class="fa fa-user"></i>
     </span>

    <nav class="vertical-menu">
     <a id="profile-me" href="/profile"><i class="fa fa-user"></i> {%trans "My Profile"%}</a>
     <a id="profile-lock" href="/lock"><i class="fa fa-lock"></i> {%trans "Lock Screen"%}</a>
     <a id="profile-logout" href="/logout"><i class="fa fa-sign-out"></i> {%trans "Logout"%}</a>
    </nav>
   </div>
  </header>

 <nav class="breadcrumb" data-xhr="breadcrumb">
   {{breadcrumb(url.breadcrumb) | raw}}
 </nav>

 <section id="content" data-xhr="content">
{%if page.title%}
  <header id="page-title">
   <h2>{{page.title}} {%if page.desc%}<small>{{page.desc}}</small>{%endif%}</h2>
{%if not child and page.haschild%}
   <a class="label label-info label-form" href="{{store}}/{{module}}/add">{%trans%}Add New Record{%endtrans%}</a>
{%endif%}
  </header>
{%endif%}
{%block content%}{%endblock%} 
 </section>

 <footer id="page-footer">
  <p class="float-left">{%trans "Powered by Saloos."%} {%trans "All right reserved."%}</p>
  <p class="float-right">{%trans "Version"%} {{saloos.version}}</p>
 </footer>






 </section>

{%endblock%}