{% import macro.forms as forms %}
 <nav class="breadcrumb" data-xhr="breadcrumb">
   {{breadcrumb(url.breadcrumb) | raw}}
 </nav>


 <section id="content" data-xhr="content">
{%if page.title%}
  <header id="page-title">
   <h2>{{page.title}} {%if page.desc%}<small>{{page.desc}}</small>{%endif%}</h2>
{%if not child and page.haschild%}
   <a class="label label-info label-form" href="{{store}}/{{module}}/add">{%trans%}Add New Record{%endtrans%}</a>
{%endif%}
  </header>
{%endif%}
{%block content%}{%endblock%} 

 </section>