<section class='touchBox' id='contactus'>
  <h4 class="fs06">{%trans "Let's hear your needs"%}</h4>
  <h3>{%trans "Get in touch"%}</h3>
  <address>
    <div class="f mB50">
      <div class="c6 s12">
        <div class="label">{%trans "Email"%}</div>
        <div class="value ltr"><a href="mailto:info@ermile.com">info@Ermile.com</a></div>
      </div>
      <div class="c6 s12">
        <div class="label">{%trans "Tel"%}</div>
        <div class="value ltr"><a href="tel:+982536505281">{%trans "+98-25-3650-5281"%}</a></div>
      </div>
    </div>
    <div class="f">
      <div class="c6 s12">
        <div class="label">{%trans "Address"%}</div>
        <div class="value"><a href="https://goo.gl/maps/g11ns6zT9hH2" target="_blank">{%trans "Ermile, Qom, Iran"%}</a></div>
      </div>
      <div class="c6 s12">
        <div class="label">{%trans "Zip Code"%}</div>
        <div class="value"><a href="{{url.kingdom}}/contact">{{"37196-17540" | fitNumber(false)}}</a></div>
      </div>
    </div>
  </address>
</section>


<footer>
  <div class="cn">
    <h2><a href="{{url.kingdom}}">{{site.title}}</a></h2>
    <h3>{{site.slogan}}</h3>
    {{langList({'html':true}) | raw}}
    {%include 'content/template/social.html'%}

   <nav class="top">
    <a class="link_home" href="{{url.kingdom}}">{%trans "Home"%}</a>
    <a href="{{url.kingdom}}/about">{%trans "About"%}</a>
    <a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a>
    <a href="{{url.kingdom}}/pricing">{%trans "Pricing"%}</a>
    <a href="{{url.kingdom}}/help/faq">{%trans "FAQ"%}</a>
   </nav>

   <div class="f middle">
      <a class="c s6" href="{{url.kingdom}}/terms">{%trans "Terms of Service"%}</a>
      <a class="c s6" href="{{url.kingdom}}/privacy">{%trans "Privacy Policy"%}</a>
      <a class="c s6" href="{{url.kingdom}}/socialresponsibility">{%trans "Social Responsibility"%}</a>
      <a class="c s6" href="{%if lang.current =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}/careers" target="_blank">{%trans "Careers"%}</a>
      <a class="c s6" href="{{url.kingdom}}/changelog">{%trans "Changelog"%}</a>
      <div class="c12 s6 love"><a href="{%if lang.current =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}" target="_blank" title='{%trans "Made with Love at Ermile ❤️"%}'>{%trans "Proudly Made in IRAN"%}</a></div>
   </div>

{%if lang.current =='fa'%}
     <div class="enamad">
      <a href="#enamad" id='enamad'><img src="{{url.static}}/images/cert/enamad1.png" alt='{%trans "Enamad"%}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=70527&p=qgwldrfsyncrwkynqgwl", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")'></a>
     </div>
{%endif%}

  </div>
</footer>
