 <footer id='tfooter'>
  <div class="cn">

   <nav class="f top">
    <a class="cauto link_home" href="{{url.here}}">{%trans "Home"%}</a>
{%if false%}
    <a class="cauto hide" href="{{url.here}}/about">{%trans "About"%}</a>
    <a class="cauto hide" href="{{url.here}}/press">{%trans "Press and Media"%}</a>
{%endif%}
    <a class="cauto" href="{%if site.currentlang =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}/careers" target="_blank">{%trans "Careers"%}</a>
    <a class="cauto" href="{{url.here}}/social-responsibility">{%trans "Social Responsibility"%}</a>
   </nav>

   <div class="f middle">
{%if site.currentlang =='fa' and false%}
    <nav class="cauto enamad hide">
     <a href="#enamad"><img src="{{url.static}}/images/cert/enamad2.png" alt='{%trans "Enamad"%}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=61968&p=hwmbnbpdjzpghwmbaqgw", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")'></a>
    </nav>
{%endif%}


    <nav class="c3 s12">
     <h4>{%trans "Learn More"%}</h4>
      <a href="{{url.here}}/terms">{%trans "Terms of Service"%}</a>
      <a href="{{url.here}}/privacy">{%trans "Privacy Policy"%}</a>
      <a href="{{url.here}}/social-responsibility">{%trans "Social Responsibility"%}</a>
    </nav>

    <nav class="c3 s12">
     <h4>{%trans "Support"%}</h4>
      <a href="{{url.here}}/contact">{%trans "Contact"%}</a>
      <a href="https://status.ermile.com" target="_blank">{%trans "System Status"%}</a>
    </nav>

{%if true%}
    <div class="c s12 os">
     {%include template.social%}
    </div>
{%endif%}

   </div>

   <div class="f bottom">
    <div class="c s6">{{langList({'html':true}) | raw}}</div>
    <div class="cauto "><span>{{footer_stat}}</span></div>
    <div class="c s6 love"><a href="{%if site.currentlang =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}" target="_blank">{%trans "Proudly Made in IRAN"%}</a></div>
   </div>

  </div>

{%if perm('cp') or main_account or perm('admin:everyone_login:view')%}
  <div id="xaccess">
{%if perm('cp') and false%}<a href="{{url.here}}/cp" data-direct>{%trans "Control Panel"%}</a>{%endif%}
{%if perm('admin')%}<a href="{{url.here}}/a">{%trans "Admin Panel"%}</a>{%endif%}
{%if main_account %}<a href="{{url.here}}/enter?mobile={{main_mobile}}&referer={{url.pwd}}" data-direct>{%trans "Exit Session"%}</a>{%endif%}
{%if perm('admin:everyone_login:view') %}<a href="{{url.here}}/enter" data-direct>{%trans "Another Session"%}</a>{%endif%}
  </div>
{%endif%}

 </footer>