<section id='landing' data-scroll {%if datarow%}class="isBlog"{%endif%}>
  <div class="bg {{bgRand}}"></div>
  <div id="nodes"></div>
  <header class="f">
    <div class="c logo">
      <a href="{{url.kingdom}}">
        <img src="{{url.static}}/images/logo/ermile.png" alt='{{site.title}}'>
        <h1>{{site.title}}<sup>&reg;</sup></h1> <span>//</span> <h3>{{site.slogan}}</h3>
      </a>
    </div>
    <nav class="cauto os s0">
      <a href="tel:00982536505281">{%trans "+98 25 3650 5281"%}</a>
    </nav>
{{langList({'html':true, 'class': 'cauto os'}) | raw}}
  </header>
  <div class="desc" data-aos="fade-up" data-aos-delay="100">
    <div class="cn">
      <h1>{{page.title}}</h1>
      <h2 class="mB25">{{page.desc}}</h2>
    </div>
    <div class="mT10 scrollDownArrow"><span class="sf-angle-down fs20"></span></div>
  </div>
</section>