<nav class="share1">
  <a data-direct href="https://www.facebook.com/{{social.facebook}}" class="facebook">ermile facebook</a>
  <a data-direct href="https://twitter.com/{{social.twitter}}" class="twitter">ermile twitter</a>
  <a data-direct href="https://plus.google.com/{{social.googleplus}}" class="googleplus">ermile google+</a>
  <a data-direct href="https://t.me/{{social.telegram}}" class="telegram">ermile telegram</a>
  <a data-direct href="https://instagram.com/{{social.instagram}}" class="instagram">ermile instagram</a>
{%if social.linkedin%}
  <a data-direct href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">ermile linkedin</a>
{%endif%}
{%if false%}
  <a data-direct href="{{url.kingdom}}/rss" class="rss">ermile rss</a>
{%endif%}

</nav>