<nav class="share2">
  <a data-direct href="https://www.facebook.com/ermile.company" class="facebook">ermile facebook</a>
  <a data-direct href="https://twitter.com/ermile_com" class="twitter">ermile twitter</a>
  <a data-direct href="https://t.me/ermile" class="telegram">ermile telegram</a>
  <a data-direct href="https://instagram.com/ermile_com" class="instagram">ermile instagram</a>
{%if social.linkedin%}
  <a data-direct href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">ermile linkedin</a>
{%endif%}
{%if false%}
  <a data-direct href="{{url.here}}/rss" class="rss">ermile rss</a>
{%endif%}

</nav>