{%extends display.mvc%}


{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}careers/careers.css">
{%endblock%}

{%block foot_js%}

 <script src="{{url.static}}careers/js/script.js"></script>
{%endblock%}


{%block content%}
 <header>
  <div class="container"><h1>{%trans "Working in <strong>Ermile</strong>"%}</h1></div>
 </header>


 <div class="about-ermile">
   <div class="container">
    <div class="row auto benefits">
     <div class="span4">
      <h2>{%trans "<strong>Ermile</strong> Benefits"%}</h2>
      <p>{%trans "Choose the best place as a job is so important for professional people."%}
      {%trans "Ermile team which made of young proficient always trys to keep his Employees happy & fresh and we rather to work with people who be like us. "%}</p>
     </div>
      <div class="span8">
       <ul>
        <li>
         <div class="normal">
          <img src="{{url.static}}careers/images/svg/teamwork.svg">
          <div class='info'>
           <h3>{%trans "teamwork"%}</h3>
           <p>{%trans "Work as a team Cause do our duty so fast and solve the problems in joy."%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.static}}careers/images/svg/clock.svg">
          <div class='info'>
           <h3>{%trans "Free working time"%}</h3>
           <p>{%trans "We don’t have any constraint you can work all the day or late at night even on holiday"%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.static}}careers/images/svg/basketball.svg">
          <div class='info'>
           <h3>{%trans "Happy working environment"%}</h3>
           <p>{%trans "Ermile Happy environment and work with the best teammate will cause joy of your work"%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.static}}careers/images/svg/productivity.svg">
          <div class='info'>
           <h3>{%trans "Specialist team"%}</h3>
           <p>{%trans "Our experience that made of working with Specialist people cause perfect feeling in our team."%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.static}}careers/images/svg/goal.svg">
          <div class='info'>
           <h3>{%trans "Great Goals"%}</h3>
           <p>{%trans "Have a great goals is The most important for improvement"%}</p>
          </div>
         </div>
        </li>
        <li>
         <div class="normal">
          <img src="{{url.static}}careers/images/svg/flower-pot.svg">
          <div class='info'>
           <h3>{%trans "Green working environment"%}</h3>
           <p>{%trans "as a matter of fact the environment that you work in has a Mental effects in you and believe it or not its important for us to be happy at work so we have a Green working environment."%}</p>
          </div>
         </div>
        </li>
       </ul>
     </div>
   </div>
  </div>
 </div>

 <video playsinline autoplay loop id="bgvid" class="videos">
  <source src="{{url.static}}careers\videos\amfm-timelaps1.mp4" type="video/mp4">
 </video>

 <div class="contract-process">
  <h2>{%trans "steps"%}</h2>
  <div class="container">
   <div class="row auto contarct-process-boxes first-line">
    <div class="img-contain resume">
     <img src="{{url.static}}careers/images/send-cv.jpg">
     <div class="text-top-right">
      <h3>{%trans "Send CV"%}</h3>
     </div>
    </div>

    <div class="line-Horizontal Top-line-Horizontal"></div>

    <div class="img-contain first-interview">
     <img src="{{url.static}}careers/images/job-interview.png">
     <div class="text-top-left">
      <h3>{%trans "Job Interviews"%}</h3>
     </div>
    </div>
   </div>

   <div class="row auto contarct-process-boxes second-line">
    <div class="line-Horizontal"></div>
   </div>

   <div class="row auto contarct-process-boxes third-line">
    <div class="img-contain resume check-resume">
     <img src="{{url.static}}careers/images/final-interview.jpg">
     <div class="text-bottom-right">
      <h3>{%trans "Final Interview"%}</h3>
     </div>
    </div>

    <div class="line-Horizontal"></div>

    <div class="img-contain final-contract">
     <img src="{{url.static}}careers/images/final.png">
     <div class="text-bottom-left">
      <h3>{%trans "Contract"%}</h3>
     </div>
    </div>

   </div>

  </div>
 </div>




 <div class="row general-property">
  <div class="container">

  <div class="row auto important_taps">
   <div class="span4">
    <h2 class="my_title"><img src="{{url.static}}careers/images/svg/success.svg"></h2>
   </div>
   <div class="span8">
    <div class="row">
      <div class="general_texts_taps">
       <p>{%trans "Motivation is the best important thing to do our duty its important for us and we need it."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Big project needs big Thinking and big Thinking have a big plan."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "contract"%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "Our perfect team work cause remove our dream cards to done cards."%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "be a coworker who is ingenious cause us to do our project fast."%}</p>
      </div>
    </div>
   </div>
  </div>


   <div class="row auto not_important_taps">
    <div class="span4">
     <h2 class="my_title"><img src="{{url.static}}careers/images/svg/error.svg"></h2>
    </div>
    <div class="span8">
      <div class="general_texts_taps">
       <p>{%trans "are You too young? No? so you are old? Dose it matter? absolutely not  "%}</p>
      </div>
      <div class="general_texts_taps">
       <p>{%trans "What about the degree of education?  never"%}</p>
      </div>
    </div>
   </div>
  </div>
 </div>

 <div class="our-opportunity" id="opportunity">
  <div class="container">
   <div class="row auto">
   <div class="span4 titles">
     <ul class="tabs row auto" data-group="opportunity">
      <li data-tab="general" class="active"><h3>{%trans "The opportunity in Ermile "%}</h3></li>
      <li data-tab="php" class=""><h3>{%trans "Php developer"%}</h3></li>
      <li data-tab="js" class=""><h3>{%trans "javascript developer"%}</h3></li>
     </ul>
    </div>
    <div class="span8 opportunity-desc">
     <ul id='tab_data'>
      <li data-tab="general" class="selected" id="generalBackImg"> </li>
      <li data-tab="php">
       <p> مسلط به پی‌اچ‌پی و توان تحلیل کد</p>
       <p> آشنایی با چند فریم‌ورک پی‌اچ‌پی</p>
       <p> آشنایی با معماری شی‌گرایی و ام‌وی‌سی</p>
       <p> آشنایی با جدیدترین رابط‌های برنامه‌نویسی</p>
       <p> آشنایی با مفاهیم پایگاه‌داده‌ها</p>
       <p> آشنایی با گیت</p>
       <p> خلاق و منظم</p>
       <p> علاقمند به تهیه مستندات</p>
       <button class="go_btn" data-modal="resume-send">ارسال رزومه</button>
      </li>
      <li data-tab="js">
       <p> مسلط به اچ‌تی‌ام‌ال و سی‌اس‌اس و جاوااسکریپت و توان تحلیل کد</p>
       <p> آشنایی با چند فریم‌ورک جاوااسکریپت</p>
       <p> آشنایی با مفاهیم تجربه کاربری</p>
       <p> آشنایی با مفاهیم پایگاه‌داده‌ها</p>
       <p> آشنایی با گیت</p>
       <p> خلاق و منظم</p>
       <p> علاقمند به تهیه مستندات</p>
       <button class="go_btn" data-modal="resume-send">ارسال رزومه</button>
      </li>
     </ul>
    </div>

   </div>
  </div>
 </div>


 <div class="resume-taps">
  <div class="container">
  <div class="row auto">
   <div class="span4">
    <h2>{%trans "Don’t forget:"%}</h2>
    <img src="{{url.static}}careers/images/svg/resume.svg">
   </div>
   <div class="span8">
    <ul>
     <li><p> {%trans "your phone number to contact"%}</p></li>
     <li><p> {%trans "Your social network links especially LinkedIn if you have."%}</p></li>
     <li><p> {%trans "Please write your cv less than 3 page."%}</p></li>
     <li><p> {%trans "Write the skills and cv can help us to do the review fast"%}</p></li>
     <li><p> {%trans "If you have anexperience its will be help us  so don’t forget to write it"%}</p></li>
     <li><p> {%trans "Your image and your interest also help us ."%}</p></li>
     <li><p> {%trans "Please write your cv in a suitable font and style send it as a pdf."%}</p></li>
    </ul>
   </div>
  </div>
  </div>
 </div>


 <footer class="row">
  <div class="container">
   <div class="row">
    <div class="span7 contact-details">
     <div class="row">
       <div class="span9 offset2 social-links">
        <a href=""><img src="{{url.static}}careers/images/svg/facebook.svg"></a>
        <a href=""><img src="{{url.static}}careers/images/svg/twitter.svg"></a>
        <a href=""><img src="{{url.static}}careers/images/svg/instagram.svg"></a>
        <a href=""><img src="{{url.static}}careers/images/svg/linkedin.svg"></a>
        <a href=""><img src="{{url.static}}careers/images/svg/google-plus.svg"></a>
        <a href=""><img src="{{url.static}}careers/images/svg/telegram.svg"></a>
        <p>{%trans "Address: qom.moalem.omraniyeh.614"%}</p>
        <p class="phone-links"><a href="mailto:info@ermile.com">info@ermile.com<img src="{{url.static}}careers/images/svg/envelope.svg"></a></p>
        <p class="phone-links"><a href="tel:02537735183">{%trans "025-3773-5183"%}<img src="{{url.static}}careers/images/svg/phone-call.svg"></a></p>
       </div>
     </div>
    </div>
    <div class="span5 company-logo">
     <a href="http:\\ermile.com"><img src="{{url.static}}careers/images/ermile.png"></a>
    </div>
   </div>
  </div>
 </footer>


<div class='modal' id='resume-send'>
 <div class='modal-dialog'>
  <form method="post" class='modal-body'>
   <h3 class='modal-title'>{%trans "please Fill the box "%}</h3>
   <img src="{{url.static}}careers/images/svg/error.svg" class="close" data-cancel>
   <input type="text" name="Name" placeholder="{%trans 'Last name'%}">
   <input type="number" name="Number" placeholder="{%trans 'Num'%}">
   <input type="file" name="file" id="file" />
   <label class="custom-file-upload" for="file"><strong>{%trans 'Choose File'%}</strong></label>
   <input type="submit" name="send-resume" value="{%trans 'Send'%}">
  </form>
 </div>
 </div>
{%endblock%}